/*!
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Longbeard
Author URI: https://www.longbeard.com
Version: 1.0.0
Template: bridge
*/

/******************************************************************

Site Name: 
Author: Longbeard

Stylesheet: Main Stylesheet
******************************************************************/

/*********************
IMPORT ELEMENTS
*********************/

// Sass variables
@import 'utilities/variables';

// typography
@import 'utilities/typography';

// import mixin
@import 'utilities/mixins';

/*********************
IMPORT VENDORS
*********************/
@import 'vendors/lity';

/*********************
IMPORT PAGES
*********************/
// styles in base.scss
@import 'pages/base';

// Homepage
.home,
.page-id-279,
.page-id-50 {
    @import 'pages/homepage';
}

// About
.page-id-18,
.page-id-371 {
    @import 'pages/about';
}

// Get Involved
.page-id-22,
.page-id-461 {
    @import 'pages/get-involved';
}

// Donate
.page-id-24,
.page-id-414 {
    @import 'pages/donate';
}

// Gear
.page-id-763,
.page-id-4365,
.page-id-4375 {
    @import 'pages/gear';
}

// Register / Subscribe
.parent-pageid-20,
.page-id-20,
.page-id-487,
.page-id-511,
.page-id-606,
.parent-pageid-487,
.page-id-708,
.page-id-711,
.page-id-5727,
.page-id-6923 {
    @import 'pages/register';
}

// Contact
.page-id-26, .page-id-464 {
    @import 'pages/contact';
}

// Event Details
.page-id-29,
.page-id-364,
.page-id-8249,
.page-id-8250 {
    @import 'pages/event-details';
}

// Blog Page
.page-id-695,
.page-id-1652,
.page-id-945,
.page-id-5708,
.page-id-5952,
.page-id-5954,
.page-id-5956,
.page-id-5958 {
    @import 'pages/blog';
}

// News/Highlights

.page-id-873,
.page-id-5594,
.page-id-961,
.page-id-5950 {
    @import "elements/alm-highlights";
}

.page-id-873,
.page-id-5594,
.page-id-961,
.page-id-5950 {
    @import 'pages/news-highlights';
}

// Past Events

.page-id-961,
.page-id-5950 {
    @import 'pages/past-events';
}

// Search
.search-results,
.search-no-results {
    @import 'pages/search';
}

// Post template
.single-post,
.single {
    @import 'pages/post';
}

// Post template
.error404 {
    @import 'pages/404';
}

/*********************
PRINT STYLESHEET
*********************/
@media print {
    // styles in print.scss
    @import 'utilities/print';
}