/******************************************************************

Stylesheet: About

Styles for 404 page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.header {
    background: $white;
}

.ct-section {
    &.intro {
        @include liner-gradient(180deg, $color3, $end);

        .ct-section-inner-wrap {
            @include side-gutters;

            #new_columns-4-88 {
                @include padding-top($col-vw * 2);
                @include padding-bottom($col-vw * 3);

                .oxy-rich-text {
                    margin-bottom: 2rem;

                    h2 {
                        margin-bottom: 2rem;
                    }
                }
            }

            // top white piece
            #image-12-88 {
                position: absolute;
                top: 150px;
                left: 0;
                width: 100%;

                @include breakpoint($laptop-break) {
                    top: 125px;
                }


                @include breakpoint($tablet-break) {
                    top: calc(#{$col-vw * 1.5} - 1px);
                }


                @include breakpoint($mobile-break) {
                    top: calc(#{$col-vw * 2} - 1px);
                }
            }

            //white piece
            #image-13-88 {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}