/******************************************************************

Stylesheet: About

Styles for About page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.ct-section {
  &.intro {
    @include liner-gradient(180deg, $color3, $end);

    #_rich_text-13-18 {
      width: $col-vw * 6;
      margin-left: $col-vw * 1.5;
      padding-bottom: 2rem;
      position: relative;
      z-index: 10;

      h3 {
        font-weight: 500 !important;
        position: relative;
        margin-bottom: 2rem;

        &::before {
          content: "“";
          font-family: "PT Mono", monospace;
          position: absolute;
          top: -3rem;
          left: -4rem;
          font-size: 18rem;
          color: #f2f2f2;
          line-height: 1;
          opacity: 0.8;
          z-index: -1;

          @include breakpoint($tablet-break) {
            font-size: 17rem;
          }

          @include breakpoint($mobile-break) {
            font-size: 16rem;
          }
        }
      }

      @include padding-top($col-vw);

      @include breakpoint($tablet-break) {
        width: $col-vw * 9;
        margin-right: $col-vw;
        margin-left: $col-vw;
      }

      @include breakpoint($mobile-break) {
        width: $col-vw * 10;
        text-align: center;
        padding-top: $col-vw !important;
      }

      @include breakpoint($mobile-break-sml) {
        padding-top: 0 !important;
      }
    }

    #image-14-18 {
      width: $col-vw * 1.25;
      margin-left: $col-vw * 2;
      position: relative;
      z-index: 10;

      @include breakpoint($tablet-break) {
        width: $col-vw * 2.5;
      }

      @include breakpoint($mobile-break) {
        width: $col-vw * 3.25;
      }
    }

    #new_columns-4-18 {
      padding-top: $col-vw * 2;
      padding-bottom: $col-vw * 3.5;
      z-index: 1;

      @include breakpoint($tablet-break) {
        padding-bottom: $col-vw * 4;
      }

      @include breakpoint($tablet-break-sml) {
        padding-bottom: $col-vw * 6.25;
      }

      #div_block-5-18 {
        justify-content: center;

        @include breakpoint($tablet-break) {
          width: 50% !important;
        }

        @include breakpoint($tablet-break-sml) {
          width: 100% !important;
          align-items: center; // @include margin-top($col-vw * 1.5);
          @include margin-top($col-vw);
        }

        @include breakpoint($mobile-break) {
          margin-top: $col-vw !important;
        }

        #image-7-18 {
          width: $col-vw * 2.5;
          margin-left: $col-vw * 1.5;

          @include breakpoint($tablet-break-sml) {
            width: $col-vw * 3;
            margin: 0; // @include padding-bottom($col-vw);
            @include padding-bottom($col-vw / 1.5);
          }

          @include breakpoint($mobile-break) {
            width: $col-vw * 5;
          }
        }
      }

      #div_block-6-18 {
        @include breakpoint($tablet-break) {
          width: 50% !important;
        }

        @include breakpoint($tablet-break-sml) {
          width: 100% !important;
        }

        #_rich_text-8-18 {
          padding-right: $col-vw * 2.5;

          @include breakpoint($laptop-break) {
            padding-right: $col-vw * 1.5;
          }

          @include breakpoint($tablet-break) {
            padding-right: $col-vw;
          }

          @include breakpoint($tablet-break-sml) {
            padding: 0;

            @include side-gutters;
          }

          h2 {
            padding-bottom: $space * 4;

            @include breakpoint($tablet-break-sml) {
              text-align: center;
              padding-bottom: $space * 3;
            }
          }

          ol {
            counter-reset: item;
            padding: 0;

            li {
              display: block;
              padding-left: 3rem;
              margin-bottom: 1rem;
              position: relative;

              &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: counter(item);
                counter-increment: item;
                color: $color1;
                font-family: $secondary;
                font-weight: 500;
                font-size: 2rem;
                line-height: 1.25;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    } //white top
    #image-27-18 {
      position: absolute;
      top: -1px;
      left: 0;
      height: calc(10rem + #{$col-vw * 4});
      z-index: 0;
      width: auto;
      max-width: initial;

      @include breakpoint(2500px 3000px) {
        height: auto;
        width: 87%;
      }

      @include breakpoint(2024px 2500px) {
        height: auto;
        width: 85.5%;
      }

      @include breakpoint(1800px) {
        left: -1vw;
      }

      @include breakpoint(1600px) {
        left: -4vw;
      }

      @include breakpoint(1550px) {
        left: -5vw;
      }

      @include breakpoint(1500px) {
        left: -6vw;
      }

      @include breakpoint($laptop-break) {
        height: calc(10rem + 37.416667vw);
        left: -13vw;
      }

      @include breakpoint($laptop-break-sml) {
        height: calc(10rem + 41.583333vw);
        left: -25vw;
      }

      @include breakpoint(1200px) {
        left: -29vw;
      }

      @include breakpoint($tablet-break) {
        height: calc(10rem + #{$col-vw * 5.75});
        left: -$col-vw * 1.75;
      }

      @include breakpoint($tablet-break-sml) {
        height: calc(10rem + #{$col-vw * 7.75});
      }

      @include breakpoint($mobile-break) {
        height: calc(9rem + #{$col-vw * 10});
        left: initial; // right: -$col-vw * 4.75;
        right: -$col-vw * 6;
      }

      @include breakpoint(360px) {
        height: calc(9rem + #{$col-vw * 12});
        right: -$col-vw * 8;
      }

      @include breakpoint($mobile-break-sml) {
        // height: calc(10rem +  #{$col-vw * 11});
        right: -$col-vw * 10;
      }
    } // white bottom
    #image-26-18 {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      z-index: 9;

      @include breakpoint($tablet-break-sml) {
        width: auto;
        max-width: initial;
        height: $col-vw * 7;
        left: -80%;
      }
    } //person
    #image-25-18 {
      position: absolute;
      bottom: $col-vw / 2;
      right: $col-vw;
      width: $col-vw * 1.5;
      z-index: 8;

      @include breakpoint($tablet-break-sml) {
        display: none;
      }
    } //trees
    #image-24-18 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 7;

      @include breakpoint($tablet-break-sml) {
        display: none;
      }
    }
  }

  &.history {
    padding-left: $col-vw * 2;
    overflow: initial;

    @include breakpoint($laptop-break) {
      padding-left: $col-vw;
    }

    h2 {
      padding-bottom: $space * 8;
    }

    .our-history-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: $space * 6; // padding-right: $col-vw;
      padding-right: $col-vw * 1.5;
      position: relative;
      overflow: visible;

      @include breakpoint($tablet-break-sml) {
        height: 87vw;
      }

      @include breakpoint($mobile-break) {
        height: 117vw;
      }

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background: $color3;
        top: 0.5rem;
        left: 0;
        position: absolute;

        @include breakpoint($tablet-break-sml) {
          width: $col-vw * 9.5;
          left: initial;
          right: 0;
        }
      }

      .our-history-item {
        width: $col-vw * 2.25;
        position: relative;
        padding-right: $col-vw / 2;

        @include breakpoint($tablet-break-sml) {
          position: absolute;
        }

        >p {
          line-height: 1.4em !important;

          @include breakpoint($tablet-break-sml) {
            display: none;
          }
        }

        h4 {
          color: $color1;
          margin-bottom: $space * 4;
          position: relative;
          cursor: pointer;
          display: inline-block;
          font-weight: 700 !important;

          &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            background: $color3;
            border-radius: 100%;
            position: absolute;
            top: -$space * 6;
            left: 0;
          }

          &::after {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            background: transparent;
            border-radius: 100%;
            border: 1px solid $color3;
            position: absolute;
            top: calc(#{-$space} * 6 + -0.25rem);
            left: -0.25rem;
            animation: pulse 4s linear 0.5s infinite;

            @keyframes pulse {
              0% {
                transform: scale(0.5);
                opacity: 0;
              }

              10% {
                transform: scale(0.5);
                opacity: 1;
              }

              60% {
                transform: scale(0.2);
                opacity: 1;
              }

              80% {
                transform: scale(1);
                opacity: 1;
              }

              100% {
                transform: scale(1);
                opacity: 0;
              }
            }

            @include breakpoint($tablet-break-sml) {
              width: 100%;
              height: 2px;
              background: $color1;
              bottom: 0;
              left: 0;
              top: initial;
              animation: none;
              border: 0;
              border-radius: 0;
              transform-origin: left;
              transform: scaleX(0);
              transition: $transition;
            }
          }
        }

        &.active {
          h4 {
            &::after {
              transform: scaleX(1);
            }
          }

          .card {
            opacity: 1;
            visibility: visible;
          }
        }

        &:hover {
          .card {
            opacity: 1;
            visibility: visible;
          }
        }

        $amount-to-move: $col-vw * 1.5;

        @for $j from 1 through 5 {
          &:nth-child(#{$j}) {
            h4 {
              &::after {
                animation-delay: calc(#{$j}s / 4);
              }
            }

            @include breakpoint($tablet-break-sml) {
              left: $amount-to-move * $j;
            }
          }
        }

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            .card {
              @include breakpoint($tablet-break-sml) {
                left: initial;
                right: $amount-to-move * $i;
              }
            }
          }
        }

        .card {
          position: absolute;
          top: -$space * 15;
          left: 0;
          opacity: 0;
          visibility: hidden;
          background: $white;
          padding: $col-vw / 6;
          width: $col-vw * 2.75;
          transition: $transition;
          z-index: 99;
          border-radius: 4px;

          @include box-shadow;

          @include breakpoint($laptop-break) {
            width: $col-vw * 3;
          }

          @include breakpoint($tablet-break) {
            padding: $col-vw / 4;
          }

          @include breakpoint($tablet-break-sml) {
            padding: $col-vw / 2;
          }

          @include breakpoint($tablet-break-sml) {
            width: $col-vw * 10;
            padding: $col-vw;
            position: relative;
            top: 0;
            left: 0;
          }

          img {
            width: 100%;
            padding-bottom: $space * 2;
          }

          .close-button {
            top: 0;
            right: -13px;
            position: absolute;
            background-color: $white;
            width: 30px;
            height: 30px;
            color: $color2;
            font: $body-font;
            font-weight: 500 !important;
            line-height: 30px !important;
            font-size: 16px !important;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.46);
            text-align: center;
            border-radius: 16px;
            cursor: pointer;

            @include breakpoint($tablet-break-sml) {
              display: none;
            }
          }

          .info {
            max-height: 7rem;
            background: transparentize($color3, 0.9);
            overflow: auto;
            padding: 1rem 2rem;
            border-radius: 4px;

            @include breakpoint($tablet-break) {
              max-height: 8rem;
            }

            @include breakpoint($tablet-break-sml) {
              max-height: 10rem;
            }

            &::-webkit-scrollbar {
              width: 5px;
              border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
              background: transparentize($color3, 0.7);
              border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
              background: $color1;
            }
          }
        }
      }
    }
  }

  &.highlights {
    @include padding-top($col-vw);

    padding-left: $col-vw * 2;

    @include breakpoint($laptop-break) {
      padding-left: $col-vw;
    }

    @include breakpoint($mobile-break) {
      padding-right: $col-vw;
    }
  }
}

// ES fix
&.page-id-371 {
  #image-27-18 {
    @include breakpoint($mobile-break) {
      height: calc(9rem + #{$col-vw * 12}) !important;
      right: -$col-vw * 7.5 !important;
    }
  }
}
