/******************************************************************

Stylesheet: Universal Site Styles

Only put styles in here that will be used across the entire site.
For styles only applying to one particular page, use the appropriate
page SCSS file.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
@import "../elements/typography";

/*********************
Please add global elements as a partial to the 'elements' folder and import here. 
Example of great canidates are title areas, accordions, or tabs.
*********************/

@import "../elements/buttons";
@import "../elements/forms";
@import "../elements/header";
@import "../elements/rows";
@import "../elements/highlights";
@import "../elements/partners";
@import "photos";

/*********************
GLOBAL ELEMENTS
*********************/
body {
    .ct-new-columns {
        .ct-div-block {
            padding: 0;
            margin: 0;
        }
    }

    .ct-section-inner-wrap {
        padding: 0;
        margin: 0;
        z-index: 1;
        position: relative;
    }

    .lb-sr {
       // visibility: hidden;
    }
}

#image-68-29,
.top-design-ed {
    position: absolute;
    top: calc(#{$col-vw / 2} - 1px);
    left: 0;
    width: 100%;
    z-index: 1;

    @include breakpoint($tablet-break) {
        top: $col-vw * 1.5;
        transform: scale(1.05);
    }


    @include breakpoint($tablet-break-sml) {
        top: 15.5vw;
    }


    @include breakpoint($mobile-break) {
        top: 16.5vw;
    }
}

// bottom white
#image-69-29,
.bottom-design-ed {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 3;

    @include breakpoint($tablet-break) {
        // bottom: 49vw;
        bottom: 110vw;
    }


    @include breakpoint($tablet-break-sml) {
        // bottom: 55vw;
        bottom: 145vw;
    }


    @include breakpoint(700px) {
        // bottom: 55vw;
        bottom: 159vw;
    }


    @include breakpoint($mobile-break) {
        //top: 49.5vw !important;
        top: 79.5vw !important;
        bottom: auto !important;
    }
}

// bottom trees
#image-70-29,
.trees-design-ed {
    position: absolute;
    bottom: -1px;
    right: -$col-vw * 2.5;
    height: $col-vw * 2.5;
    width: 100%;
    z-index: 2;

    @include breakpoint($tablet-break) {
        // bottom: 52vw;
        bottom: 112vw;
    }


    @include breakpoint($tablet-break-sml) {
        // bottom: 63vw;
        bottom: 149vw;
    }


    @include breakpoint(700px) {
        top: auto;
        bottom: 163vw;
    }


    @include breakpoint($mobile-break) {
        bottom: auto;
        top: 82vw;
    }
}

/*********************
FOOTER STYLES
*********************/

@import "../elements/footer";