/******************************************************************

Stylesheet: Blog

Styles for Blog page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.intro {
    background: $white;

    .ct-section-inner-wrap {
        @include side-gutters;
    }

    .ct-code-block {
        padding-left: $col-vw / 2;
        padding-right: $col-vw / 2;
        background: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        z-index: 20;
        transition: $transition;

        @include padding-top($col-vw / 2);
        @include margin-top($col-vw / 2);

        // @include margin-bottom($col-vw);

        @include breakpoint($laptop-break) {
            padding-left: 0;
            padding-right: 0;
        }


        .article {
            width: calc(100% / 4);
            padding: 0 0.75rem;

            @include margin-bottom($col-vw / 2);

            @include breakpoint($laptop-break) {
                width: calc(100% / 3);
                margin-bottom: $col-vw !important;
            }


            @include breakpoint($tablet-break) {
                width: calc(100% / 2);
            }


            @include breakpoint($mobile-break) {
                width: 100%;
            }


            &:nth-child(-n+3) {
                width: calc(100% / 3);
                border-bottom: 2px solid $color3;

                @include padding-bottom($col-vw / 2);

                @include breakpoint($laptop-break) {
                    width: calc(100% / 3);
                    padding-bottom: $col-vw;
                }


                @include breakpoint($tablet-break) {
                    width: calc(100% / 2);
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                }


                .article-inner {
                    .image {
                        display: flex;
                        margin-bottom: 1rem;

                        a {
                            width: 100%;
                            display: flex;

                            .img {
                                display: flex;
                                width: 100%;
                                height: $col-vw * 1.25;
                                background-position: center !important;
                                background-size: cover !important;

                                @include breakpoint($tablet-break) {
                                    height: $col-vw * 3;
                                }
                            }
                        }
                    }
                }
            }

            @include breakpoint($tablet-break) {
                &:nth-child(n+3) {
                    border-bottom: 0;
                    padding-bottom: 0;

                    .article-inner {
                        .image {
                            display: none;
                        }
                    }
                }
            }


            @include breakpoint($mobile-break) {
                &:nth-child(n+2) {
                    border-bottom: 0;
                    padding-bottom: 0;

                    .article-inner {
                        .image {
                            display: none;
                        }
                    }
                }
            }


            // &:first-child {
            //     width: 60%;

            //     @include breakpoint($laptop-break) {
            //         width: calc(100% / 3 * 2);
            //     }

            //     @include breakpoint($tablet-break) {
            //         width: calc(100% / 2);
            //     }

            //     @include breakpoint($mobile-break) {
            //         width: 100%;
            //     }

            //     .article-inner {
            //         flex-direction: row;
            //         height: 100%;

            //         @include breakpoint($tablet-break) {
            //             flex-direction: column;
            //         }

            //         .image {
            //             order: 2;
            //             width: 60%;

            //             @include breakpoint($tablet-break) {
            //                 order: 1;
            //                 width: 100%;
            //             }

            //             a {
            //                 display: flex;
            //                 height: 100%;

            //                 .img {
            //                     height: 100%;

            //                     @include breakpoint($tablet-break) {
            //                         height: $col-vw * 3;
            //                     }

            //                     @include breakpoint($mobile-break) {
            //                         height: $col-vw * 5;
            //                     }
            //                 }
            //             }
            //         }

            //         .info {
            //             order: 1;
            //             width: 40%;
            //             padding-right: 1rem;

            //             @include breakpoint($tablet-break) {
            //                 order: 2;
            //                 padding-right: 0;
            //                 width: 100%;
            //             }
            //         }
            //     }
            // }

            .article-inner {
                display: flex;
                flex-direction: column;

                .image {
                    display: none;
                }

                .info {
                    .date {
                        text-transform: uppercase;
                        color: transparentize($color2, 0.4);
                    }

                    a {
                        color: $color1;

                        h3 {
                            font-size: 1.65rem !important;
                            line-height: 2.1rem;
                            padding: 0.75rem 0;
                            color: $color1;
                            font-weight: 600;
                            transition: $transition;
                        }

                        &:hover {
                            h3 {
                                color: $color2;
                            }
                        }
                    }
                }
            }
        }
    }

    // // top piece
    // #image-4-695 {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 83vw;
    //     pointer-events: none;

    //     @include breakpoint(1900px) {
    //         width: 82vw;
    //     }

    //     @include breakpoint($laptop-break) {
    //         width: 81vw;
    //     }

    //     @include breakpoint($tablet-break) {
    //         width: $col-vw * 15;
    //         max-width: initial;
    //         left: -$col-vw * 1.75;
    //     }

    //     @include breakpoint($mobile-break) {
    //         width: auto;
    //         height: $col-vw * 12;
    //         left: initial;
    //         right: -$col-vw * 1.75;
    //     }
    // }

    // //white piece
    // #image-5-695 {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     z-index: 9;
    //     pointer-events: none;

    //     @include breakpoint($tablet-break) {
    //         bottom: calc(9rem - 1px + #{$col-vw * 6});
    //     }

    //     @include breakpoint($mobile-break) {
    //         bottom: calc(9rem - 1px + #{$col-vw * 15});
    //     }
    // }
}

.past-articles.intro .ct-code-block .article:nth-child(-n+3) {
    border-bottom: 0 !important;
}

.past-articles.intro .ct-code-block .article .article-inner .image {
    display: flex !important;
    margin-bottom: 1rem !important;
}