/******************************************************************

Stylesheet: Contact

Styles for Contact page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.ct-section {
  &.intro {
    @include liner-gradient(180deg, $color3, $end);

    .ct-section-inner-wrap {
      @include side-gutters;

      &::before {
        content: "";
        width: 100%;
        height: calc(9rem + #{$col-vw * 6});
        background: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;

        @include breakpoint($tablet-break) {
          display: block;
        }

        @include breakpoint($mobile-break) {
          height: calc(9rem + #{$col-vw * 15});
        }
      }

      #new_columns-3-26 {
        align-items: center !important;
        z-index: 10;
        flex-wrap: nowrap;

        @include padding-top($col-vw / 2);

        @include breakpoint($tablet-break) {
          flex-wrap: wrap;
        }

        @include breakpoint($mobile-break) {
          padding-top: 0;
        }

        //first column
        #div_block-4-26 {
          width: ($col-vw * 7) !important;
          background: $white;
          padding: ($col-vw / 2) $col-vw;
          margin-bottom: $col-vw / 4;

          @include box-shadow;

          &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
          }

          @include breakpoint($tablet-break) {
            width: 100% !important;
            padding: $col-vw;
          }

          @include breakpoint($mobile-break) {
            margin-bottom: $col-vw / 2;
          }

          .gform_description {
            font: $h5;
            color: $color2 !important;
            font-weight: 700 !important;

            @include breakpoint($tablet-break) {
              text-align: center;
            }
          }

          .gform_footer {
            @include breakpoint($mobile-break) {
              text-align: center !important;
            }
          }
        }

        #div_block-5-26 {
          width: ($col-vw * 3) !important;
          padding-left: $col-vw / 2;

          @include breakpoint($tablet-break) {
            width: 100% !important;
            padding-left: 0;
            align-items: center;
            padding-top: $col-vw !important;

            @include padding-top($col-vw);

            padding-bottom: 0 !important;
          }

          .oxy-rich-text {
            @include breakpoint($tablet-break) {
              text-align: center;
            }

            h5 {
              padding-bottom: $space * 5;
              font-weight: 500 !important;

              @include breakpoint($laptop-break) {
                font-size: 1.15rem !important;
              }

              @include breakpoint($tablet-break) {
                font-size: 1.25rem !important;
              }

              &.bold {
                font-weight: 900 !important;
              }

              &:last-child {
                padding-bottom: 0;
              }

              a {
                color: $color2;

                &.contact-email {
                  display: block;
                  text-decoration: underline;
                  margin-bottom: 0.5rem;
                }
              }

              span {
                position: relative;

                &::before {
                  content: "";
                  width: 100%;
                  height: 2px;
                  background: $color2;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }
            }
          }
        }
      }

      // top piece
      #image-8-26 {
        position: absolute;
        top: 0;
        left: 0;
        width: 83vw;
        pointer-events: none;

        @include breakpoint(1900px) {
          width: 82vw;
        }

        @include breakpoint($laptop-break) {
          width: 81vw;
        }

        @include breakpoint($tablet-break) {
          width: $col-vw * 15;
          max-width: initial;
          left: -$col-vw * 1.75;
        }

        @include breakpoint($mobile-break) {
          width: auto;
          height: $col-vw * 12;
          left: initial;
          right: -$col-vw * 1.75;
        }
      }

      //white piece
      #image-12-26 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        pointer-events: none;

        @include breakpoint($tablet-break) {
          bottom: calc(9rem - 1px + #{$col-vw * 6});
          max-width: initial;
          width: $col-vw * 13;
          left: -$col-vw / 2;
        }

        @include breakpoint($mobile-break) {
          bottom: calc(9rem - 1px + #{$col-vw * 15});
        }
      }
    }
  }

  .gfield.top-half {
    @include breakpoint($mobile-break) {
      .ginput_container {
        display: flex;
        justify-content: center;
      }
    }
  }

  .ginput_recaptcha {
    @include breakpoint($mobile-break) {
      .rc-anchor-checkbox-label {
        width: 80%;
      }
      .rc-anchor-content {
        width: 70%;
      }
      .rc-anchor-normal {
        width: 80%;
      }
      .rc-anchor-logo-portrait {
        margin: 10px 0 0 0;
      }
      .rc-anchor-pt {
        text-align: center;
        width: 58%;
      }
    }
  }
}
