/******************************************************************

Stylesheet: Donate

Styles for Donate page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.ct-section {
    &.intro {
        @include liner-gradient(180deg, $color3, $end);

        .ct-section-inner-wrap {
            @include side-gutters;

            @include breakpoint(375px) {
                padding-left: ($col-vw / 2) !important;
                padding-right: ($col-vw / 2) !important;
            }


            @include breakpoint(320px) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }


            &::before {
                content: '';
                width: 100%;
                height: $col-vw * 1.5;
                background: $white;
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                z-index: 9;

                @include breakpoint($tablet-break) {
                    height: $col-vw * 3;
                }


                @include breakpoint($mobile-break) {
                    height: $col-vw * 6;
                }
            }

            &::after {
                content: url("/wp-content/uploads/2018/09/Landscape-illustration-01.svg");
                position: absolute;
                left: -60%;
                width: 100%;
                z-index: 8;
                bottom: calc(#{$col-vw * 1} - 1px);

                @include breakpoint(1520px) {
                    left: -80%;
                }


                @include breakpoint(1350px) {
                    left: -125%;
                }


                @include breakpoint($tablet-break) {
                    display: none;
                }
            }

            #new_columns-3-24 {
                justify-content: flex-start;
                z-index: 10;

                @include padding-top($col-vw / 2);

                @include breakpoint($mobile-break) {
                    padding-top: 0 !important;
                }


                #div_block-4-24 {
                    width: ($col-vw * 7) !important;
                    background: $white;
                    padding: ($col-vw / 2) $col-vw;
                    margin-bottom: $col-vw / 4;
                    height: 2500px !important;

                    @include box-shadow;

                    &:hover {
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
                    }

                    @include breakpoint(1450px) {
                        height: 2800px !important;
                    }


                    @include breakpoint($tablet-break) {
                        width: 100% !important;
                        padding: $col-vw;
                    }


                    @include breakpoint($mobile-break) {
                        margin-bottom: $col-vw / 2;
                        padding: 0 0 $col-vw 0 !important;
                    }


                    iframe {
                        @include breakpoint(1450px) {
                            height: 2700px !important;
                        }
                    }
                }
            }

            // trees
            #image-7-24 {
                position: absolute;
                left: 0;
                width: 100%;
                z-index: 8;
                bottom: calc(#{$col-vw * 1} - 1px);

                @include breakpoint($tablet-break) {
                    display: none;
                }
            }

            // top white piece
            #image-9-24 {
                position: absolute;
                top: 0;
                left: 0;
                width: $col-vw * 11;

                @include breakpoint($tablet-break) {
                    width: $col-vw * 15;
                    max-width: initial;
                    left: -$col-vw * 1.75;
                }


                @include breakpoint($mobile-break) {
                    width: auto;
                    height: $col-vw * 12;
                    left: initial;
                    right: -$col-vw * 1.75;
                }
            }

            //white piece
            #image-8-24 {
                position: absolute;
                bottom: calc(#{$col-vw * 1.5} - 1px);
                left: 0;
                width: 100%;
                z-index: 9;

                @include breakpoint($tablet-break) {
                    bottom: calc(#{$col-vw * 3} - 1px);
                }


                @include breakpoint($mobile-break) {
                    bottom: calc(#{$col-vw * 6} - 1px);
                }
            }
        }
    }
}