/******************************************************************

Stylesheet: Event Details

Styles for Event Details page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.parking {
  h3 {
    margin-top: $col-vw / 4;
  }
}

.people {
  .coming-soon {
    margin-top: $col-vw / 4;
  }
}

.ct-section.parking .ct-section-inner-wrap #new_columns-31-29 {
  padding-bottom: 31vw !important;

  #_rich_text-34-29 {
    text-align: center;

    @include breakpoint($mobile-break) {
      text-align: center;
    }
  }
}

#div_block-33-29 {
  display: none;
}

#div_block-32-29 {
  padding-top: 0 !important;
}

.ct-section.sponsors .ct-section-inner-wrap {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.parking {
  #image-72-29 {
    @include breakpoint($mobile-break) {
      bottom: 10vw !important;
    }
  }
}

#image-73-29 {
  @include breakpoint($mobile-break) {
    display: none !important;
  }
}

// END TEMP
.download-block {
  margin-top: $col-vw / 4;

  @include breakpoint($tablet-break) {
    margin-top: $col-vw;
  }
  @include breakpoint($tablet-break) {
    margin-top: $col-vw;
  }

  @include breakpoint($mobile-break) {
    margin-top: $col-vw / 2;
  }

  .download {
    svg {
      width: 14px;
      transform: translateY(2px);
      margin-right: 4px;
    }

    &:nth-child(n + 2) {
      margin-left: 2rem !important;

      @include breakpoint($mobile-break) {
        margin-left: 0 !important;
        margin-top: 2rem;
      }
    }

    @include breakpoint($mobile-break) {
      width: 100%;
      display: block;
    }
  }
}

.walk-route-col {
  padding-left: $col-vw;
  padding-right: $col-vw;
  position: relative;
  z-index: 4;

  @include padding-top($col-vw * 1.25);
  @include padding-bottom($col-vw * 3.5);

  @include breakpoint($laptop-break) {
    padding-right: 0;
  }

  @include breakpoint($tablet-break) {
    // wrap: wrap-reverse;
    padding-bottom: 0 !important;
    padding-right: $col-vw;
    padding-top: ($col-vw * 1.2) !important;

    >.ct-div-block:first-child {
      width: 65% !important;
    }
  }

  @include breakpoint($tablet-break-sml) {
    padding-top: ($col-vw * 0.8) !important;
  }

  @include breakpoint($mobile-break) {
    padding-top: 0 !important;
  } // map col
  #div_block-4-29 {
    #image-6-29 {
      @include box-shadow;

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
      }
    }

    .button {
      margin-top: 2rem;
    }

    @include breakpoint($tablet-break) {
      width: 65%;
    }

    @include breakpoint($mobile-break) {
      width: 100% !important;
    }
  } // text col
  #div_block-5-29 {
    padding-left: $col-vw;
    padding-right: $col-vw;

    @include breakpoint($laptop-break) {
      padding-right: 0;
    }

    @include breakpoint($tablet-break) {
      padding-left: 0;
      width: 100%;
      padding-top: 0;

      @include padding-bottom($col-vw);
    }

    @include breakpoint($mobile-break) {
      padding-top: ($col-vw * 1.5) !important;
      padding-bottom: ($col-vw * 1.5) !important;
    }

    h1 {
      @include breakpoint(1800px) {
        font-size: 2.5rem !important;
      }
    }

    .btn {
      margin-top: $col-vw / 2;
    }
  }
}

.ct-section {
  &.intro {
    @include liner-gradient(180deg, $color3, $end);

    @include breakpoint($tablet-break) {
      // background: linear-gradient(180deg, #53C1B7 0%, #D0EDF3 55%, #fff 50%) !important;
      background: linear-gradient( 180deg,
      #53c1b7 0%,
      #d0edf3 38%,
      #fff 39%) !important;
    }

    @include breakpoint(768px) {
      // background: linear-gradient(180deg, #53C1B7 0%, #D0EDF3 55%, #fff 50%) !important;
      background: linear-gradient( 180deg,
      #53c1b7 0%,
      #d0edf3 29%,
      #fff 34%) !important;
    }

    @include breakpoint(700px) {
      background: linear-gradient( 180deg,
      #53c1b7 0%,
      #d0edf3 33%,
      #fff 27%) !important;
    }

    @include breakpoint($mobile-break) {
      background: linear-gradient( 180deg,
      #53c1b7 0%,
      #d0edf3 27%,
      #fff 27%) !important;
    }

    @include breakpoint(390px) {
      background: linear-gradient( 180deg,
      #53c1b7 0%,
      #d0edf3 25%,
      #fff 25%) !important;
    }

    @include breakpoint(360px) {
      background: linear-gradient( 180deg,
      #53c1b7 0%,
      #d0edf3 21%,
      #fff 22%) !important;
    }

    .ct-section-inner-wrap {
      @include breakpoint($mobile-break) {
        padding-top: 28vw !important;
      }

      &::before {
        content: "";
        width: 100%;
        height: $col-vw / 2;
        position: absolute;
        background: $white;
        top: 0;
        left: 0;
        z-index: 1;

        @include breakpoint($tablet-break) {
          height: $col-vw * 2;
        }
      }

      #new_columns-3-29,
      .top-column-lb,
      .walk-route-col {
        padding-left: $col-vw;
        padding-right: $col-vw;
        position: relative;
        z-index: 4;

        @include padding-top($col-vw * 1.25);
        @include padding-bottom($col-vw * 3.5);

        @include breakpoint($laptop-break) {
          padding-right: 0;
        }

        @include breakpoint($tablet-break) {
          // wrap: wrap-reverse;
          padding-bottom: 0 !important;
          padding-right: $col-vw;
          padding-top: ($col-vw * 1.2) !important;

          >.ct-div-block:first-child {
            width: 65% !important;
          }
        }

        @include breakpoint($tablet-break-sml) {
          padding-top: ($col-vw * 0.8) !important;
        }

        @include breakpoint($mobile-break) {
          padding-top: 0 !important;
        } // map col
        #div_block-4-29 {
          #image-6-29 {
            @include box-shadow;

            &:hover {
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
            }
          }

          #new_columns-137-8249 {
            align-items: center;

            #div_block-139-8249,
            #div_block-140-8249 {
              width: 50% !important;

              @include breakpoint ($mobile-break) {
                width: 100% !important;
              }
            }
          }

          .button {
            // margin-top: 2rem;
            margin: 2rem auto 0;
          }

          @include breakpoint($tablet-break) {
            width: 65%;
          }

          @include breakpoint($mobile-break) {
            width: 100% !important;
          }
        } // text col
        #div_block-5-29 {
          padding-left: $col-vw;
          padding-right: $col-vw;

          @include breakpoint($laptop-break) {
            padding-right: 0;
          }

          @include breakpoint($tablet-break) {
            padding-left: 0;
            width: 100%;
            padding-top: 0;

            @include padding-bottom($col-vw);
          }

          @include breakpoint($mobile-break) {
            padding-top: ($col-vw * 1.5) !important;
            padding-bottom: ($col-vw * 1.5) !important;
          }

          h1 {
            @include breakpoint(1800px) {
              font-size: 2.5rem !important;
            }
          }

          .btn {
            margin-top: $col-vw / 2;
          }
        }
      } // top white
      #image-68-29,
      .top-design-ed {
        position: absolute;
        top: calc(#{$col-vw / 2} - 1px);
        left: 0;
        width: 100%;
        z-index: 1;

        @include breakpoint($tablet-break) {
          top: $col-vw * 1.5;
          transform: scale(1.05);
        }

        @include breakpoint($tablet-break-sml) {
          top: 15.5vw;
        }

        @include breakpoint($mobile-break) {
          top: 16.5vw;
        }
      } // bottom white
      #image-69-29,
      .bottom-design-ed {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        z-index: 3;

        @include breakpoint($tablet-break) {
          // bottom: 49vw;
          // bottom: 110vw;
          bottom: 105vw;
        }

        @include breakpoint($tablet-break-sml) {
          // bottom: 55vw;
          bottom: 145vw;
        }

        @include breakpoint(700px) {
          // bottom: 55vw;
          bottom: 159vw;
        }

        @include breakpoint($mobile-break) {
          //top: 49.5vw !important;
          top: 79.5vw !important;
          bottom: auto !important;
        }
      } // bottom trees
      #image-70-29,
      .trees-design-ed {
        position: absolute;
        bottom: -1px;
        right: -$col-vw * 2.5;
        height: $col-vw * 2.5;
        width: 100%;
        z-index: 2;

        @include breakpoint($tablet-break) {
          // bottom: 52vw;
          bottom: 112vw;
        }

        @include breakpoint($tablet-break-sml) {
          // bottom: 63vw;
          bottom: 149vw;
        }

        @include breakpoint(700px) {
          top: auto;
          bottom: 163vw;
        }

        @include breakpoint($mobile-break) {
          bottom: auto;
          top: 82vw;
        }
      }
    } // SCHEDULE - UPDATED
    .walk-route-wrapper {
      .oxy-rich-text {
        h3 {
          font-weight: 500 !important;

          @include breakpoint($laptop-break) {
            font-size: 1.5rem !important;
          }
        }
      }

      #div_block-10-29 {
        justify-content: space-between;
        width: 71%;
        text-align: left;
        margin-top: 2rem;

        @include breakpoint($laptop-break-sml) {
          width: 100%;
        }

        h3 {
          font-weight: 900 !important;
          margin: 1rem 0;
        }

        h5 {
          margin-bottom: 1rem;
          font-weight: 500 !important;
        }

        #div_block-12-29 {
          @include breakpoint($laptop-break 1650px) {
            position: relative;
            right: -2rem;
          }
        }

        #div_block-11-29 {
          @include breakpoint($tablet-break) {
            padding-right: $col-vw / 2;
          }

          @include breakpoint($mobile-break) {
            padding-right: 1rem;
          }
        }
      }
    }

    #div_block-129-29 {
      width: 100%;
      text-align: left;
      margin-bottom: 2rem;

      @include breakpoint($tablet-break) {
        align-items: center;
      }
    }

    #div_block-5-29 {
      margin-top: 7rem;

      @include breakpoint($mobile-break) {
        margin-top: 0;
      }

      #div_block-20-29 {
        @include breakpoint($mobile-break) {
          width: 100%;
        }
      }
    }

    #div_block-21-29 {
      width: 100%;
    }

    .download-block {
      // margin-left: $col-vw !important;
      margin-top: 2rem !important;
      @include breakpoint($tablet-break) {
        // margin-top: ($col-vw / 2) !important; //margin-bottom: $col-vw;
      } // @include breakpoint($mobile-break) {
      //   margin-top: $col-vw !important;
      //   margin-left: 0 !important;
      // }
    }

    .lb-table {
      display: flex;
      flex-wrap: wrap;

      .row {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;

        &.heading {
          margin-top: 1rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        h4 {
          font-weight: 600 !important;
        }

        .col {
          font-family: $primary;

          &:first-child {
            color: $color1;
            font: $h4;
            font-weight: 500 !important;
            width: $col-vw;

            @include breakpoint($tablet-break) {
              width: 7.5rem;
            }
          }

          &:last-child {
            line-height: 1.8rem;
            margin-top: 2px;
            width: 60%;

            @include breakpoint($mobile-break) {
              width: 66%;
            }
          }
        }
      }
    }

    #div_block-25-29 {
      margin-top: $col-vw / 2;

      .btn {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &.parking {
    @include liner-gradient(180deg, $color3, $end);

    @include breakpoint($mobile-break) {
      background: linear-gradient( 180deg,
      #53c1b7 0%,
      #d0edf3 82%,
      #fff 50%) !important; // background: linear-gradient(180deg, #53C1B7 0%, #D0EDF3 45%, #fff 50%) !important;
    }

    .ct-section-inner-wrap {
      #new_columns-31-29 {
        z-index: 5;
        position: relative;

        @include padding-top($col-vw * 1.5);
        @include padding-bottom($col-vw * 3);

        @include breakpoint($tablet-break) {
          padding-bottom: ($col-vw * 2.2) !important;
          padding-top: ($col-vw * 1.5) !important;
        } // text
        #div_block-32-29 {
          // padding-left: $col-vw * 2;
          padding-top: $col-vw / 2;
          align-items: center;

          h3 {
            font-weight: 400 !important;
          }

          @include breakpoint($tablet-break) {
            padding-top: 0; // padding-left: $col-vw;
            width: 33% !important;
            margin-top: $col-vw / 2;

            @include padding-bottom($col-vw);
          }

          @include breakpoint($mobile-break) {
            width: 100% !important;
            padding-bottom: $col-vw !important;
            margin-top: 0 !important;
          }
        }

        #div_block-33-29 {
          padding-right: $col-vw / 2;

          @include breakpoint($tablet-break) {
            padding: 0 $col-vw;
            width: 66% !important;
          }

          @include breakpoint($mobile-break) {
            width: 100% !important;
          }

          img {
            width: 100%;

            @include box-shadow;

            &:hover {
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
            }
          }
        }
      }
    } // top white
    #image-71-29 {
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      z-index: 1;

      @include breakpoint($laptop-break) {
        transform: scale(1.1);
      }
    } // bottom white
    #image-72-29 {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      z-index: 3;

      @include breakpoint($tablet-break) {
        transform: scale(1.1);
      }

      @include breakpoint($mobile-break) {
        transform: scale(1.1);
        bottom: 43vw;
      }
    } // bottom stuff
    #image-73-29 {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      z-index: 2;

      @include breakpoint($mobile-break) {
        bottom: 43vw;
      }
    }
  }

  &.people {
    @include side-gutters-lrg;

    text-align: center;

    h2 {
      margin: 0 auto;

      span {
        font-size: 2.5rem !important;

        @include breakpoint($mobile-break) {
          font-size: 2rem !important;
        }
      }
    }

    h3 {
      margin: 0 auto;
    }

    .nav {
      margin: 0 auto !important;

      a {
        display: inline-block;
        width: auto;
        position: relative;
        overflow: hidden;

        &:nth-child(n + 2) {
          margin-left: 1.5rem !important;
        }

        &::before {
          content: "";
          width: 100%;
          height: 2px;
          background: $color1;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateX(-101%);
          transition: $transition;
        }

        &:hover,
        &:focus,
        &.active {
          color: $color2;

          &::before {
            transform: translateX(0);
          }
        }
      }
    }

    .pageable {
      width: 100%;
    }

    .ct-code-block {
      display: none;

      &.active {
        display: block;
        animation: lb-fade-in 0.5s;
        animation-fill-mode: forwards;

        @at-root {
          @keyframes lb-fade-in {
            from {
              transform: translateY(10px);
              opacity: 0;
            }

            to {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }

      &.not-enough {
        ul {
          display: flex;
          justify-content: center;
          align-items: flex-start;

          @include breakpoint($tablet-break) {
            flex-wrap: wrap;
          }

          li {
            @include breakpoint($tablet-break) {
              width: calc(50% - #{$col-vw / 2}) !important;
            }

            @include breakpoint($mobile-break) {
              width: 100% !important;
            }
          }
        }
      }

      ul {
        padding: 0;
        margin: 1rem 0;
        position: relative;

        .slick-list {
          padding: 0 !important;
          margin: 1rem 0;

          @include breakpoint(1365px) {
            padding-bottom: 5rem !important;
          }
        }

        .slick-arrow {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 2rem;
          cursor: pointer;
          z-index: 100;

          @include breakpoint($tablet-break) {
            width: 1.75rem;
          }

          @include breakpoint($mobile-break) {
            width: 1.25rem;
          }

          &:hover {
            path {
              fill: $color1;
            }
          }

          path {
            fill: $color3;
            stroke-width: 0;
            transition: $transition;
          }

          &.prev {
            left: -$col-vw;

            @include breakpoint($laptop-break) {
              left: -$col-vw / 2;
            }

            @include breakpoint(1365px) {
              top: initial;
              bottom: 0;
              left: initial;
              right: $col-vw / 2 + $col-vw / 3;
            }
          }

          &.next {
            right: -$col-vw;

            @include breakpoint($laptop-break) {
              right: -$col-vw / 2;
            }
            @include breakpoint(1365px) {
              top: initial;
              bottom: 0;
              right: calc(#{$col-vw / 2 + $col-vw / 3} - 3rem);
            }
          }
        }

        li {
          list-style: none;
          width: $col-vw * 3.25;
          padding: $col-vw / 2;
          border-radius: 4px;
          background: transparentize($color3, 0.9);
          transition: $transition;
          transform: scale(0.8);
          transform-origin: top center;
          outline: none !important;

          @include box-shadow;

          @include breakpoint(1365px) {
            margin: 0 $col-vw/3;
            transform: scale(1);
            background: $white;
            padding: $col-vw/2;
          }

          @include breakpoint($tablet-break) {
            padding: $col-vw;
          }

          &.slick-center {
            background: $white;
            transform: scale(1);
          }

          .img {
            text-align: center;
            margin-bottom: 2rem;

            img {
              width: 80%;
              height: auto;
              margin: 0 auto;

              @include breakpoint($tablet-break) {
                width: 60%;
              }

              @include breakpoint($mobile-break) {
                width: 55%;
              }
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
              margin-bottom: 1rem;
              width: 100%;
            }

            h4 {
              margin-bottom: 0.5rem;
              width: 100%;
            }

            p {
              margin-bottom: 2rem;
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.resources {
    @include liner-gradient(180deg, $color3, $end);

    .ct-section-inner-wrap {
      @include padding-top($col-vw * 2);
      @include padding-bottom($col-vw * 4);
      @include side-gutters-lrg;

      @include breakpoint($tablet-break) {
        padding-bottom: 31vw;
      }

      @include breakpoint($mobile-break) {
        padding-top: ($col-vw * 2) !important;
      }

      h2 {
        margin-bottom: $space * 4;
      }

      #code_block-44-29 {
        z-index: 5;
        position: relative;
        display: inline-block;
        width: auto;

        ul {
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              display: flex;
              align-items: center;

              &:hover {
                h4 {
                  color: $color1;
                }
              }

              h4 {
                font-weight: 500 !important;
                display: inline-block;
                padding-left: 1.5rem;
                transition: $transition;
              }

              svg {
                width: 1.5rem;

                path {
                  fill: $color1;
                  stroke: $color1;
                  stroke-width: 0px;
                }
              }
            }
          }
        }
      }

      .button {
        margin-top: 3rem;
        position: relative;
        z-index: 10;
      } // top white
      #image-74-29 {
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        z-index: 1;

        @include breakpoint($tablet-break) {
          transform: scale(1.1);
        }

        @include breakpoint($mobile-break) {
          top: 16px;
          transform: scale(3);
          left: 336px;
        }

        @include breakpoint(359px) {
          left: 279px;
          top: 12px;
        }
      } // bottom white
      #image-77-29 {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        z-index: 3;

        @include breakpoint($tablet-break) {
          transform: scale(1.1);
        }

        @include breakpoint($mobile-break) {
          transform: scale(3);
          left: 99%;
          bottom: -92px;
        }

        @include breakpoint(359px) {
          bottom: -75px;
          left: 95%;
        }
      } // bottom stuff
      #image-78-29 {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        z-index: 2;

        @include breakpoint($tablet-break) {
          bottom: -11%;
          left: 27%;
          transform: scale(1.6);
          display: none;
        }
      }
    }
  }

  &.sponsors {
    .ct-section-inner-wrap {
      @include padding-top($col-vw * 0.75);
      @include padding-bottom($col-vw * 0.75);
      @include side-gutters-lrg;

      @include breakpoint($tablet-break) {
        padding-bottom: $col-vw / 4;
      }

      @include breakpoint($mobile-break) {
        padding-top: 0 !important;
        padding-bottom: ($col-vw / 4) !important;
      }

      h2 {
        padding-bottom: $space * 4;

        @include breakpoint($mobile-break) {
          padding-bottom: 0 !important;
        }
      }

      #div_block-48-29 {
        align-items: center;

        @include breakpoint($tablet-break) {
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-evenly;
        }

        @include breakpoint($mobile-break) {
          width: 100%;
        }

        a {
          width: calc(100% / 3);
          padding: $col-vw / 4;

          @include breakpoint($tablet-break) {
            width: 50%;
            padding: $col-vw / 2;
          }

          @include breakpoint($mobile-break) {
            width: 50%;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &.faq {
    @include liner-gradient(180deg, $color3, $end);

    .ct-section-inner-wrap {
      @include side-gutters;
      @include padding-top($col-vw * 1.25);
      @include padding-bottom($col-vw / 6);

      #div_block-55-29 {
        width: $col-vw * 7.25;
        background: $white;
        z-index: 5;
        padding: $col-vw / 2;

        @include box-shadow;

        &:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
        }

        @include breakpoint($laptop-break) {
          width: 80%;
        }

        @include breakpoint($tablet-break) {
          width: 100%;
          padding: $col-vw;
        }

        ul {
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            padding: 1.5rem 0;

            .title {
              cursor: pointer;

              &.active {
                h4 {
                  svg {
                    transform: rotate(180deg);
                  }
                }
              }

              h4 {
                text-align: left;
                padding: 1rem 0;
                position: relative;
                font-weight: 500 !important;
                padding-right: 2rem;

                svg {
                  width: 1.5rem;
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
                  transition: $transition;
                }

                &::before {
                  content: "";
                  width: 100%;
                  height: 2px;
                  background: $color2;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                }
              }
            }

            .info {
              text-align: left;
              transition: $transition;
              max-height: 0;
              overflow: hidden;

              .info-inner {
                padding: 1.5rem 0;
              }
            }
          }
        }
      }

      &::before {
        content: "";
        width: 100%;
        height: $col-vw * 2;
        background: $white;
        position: absolute;
        bottom: 0;
        left: 0;

        @include breakpoint($mobile-break) {
          height: $col-vw * 6;
        }
      } // top white
      #image-79-29 {
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        z-index: 1;

        @include breakpoint($tablet-break) {
          transform: scale(1.1);
        }
      } // bottom white
      #image-80-29 {
        position: absolute;
        bottom: calc(#{$col-vw * 2} - 4px);
        left: 0;
        width: 100%;
        z-index: 3;

        @include breakpoint($tablet-break) {
          transform: scale(1.1);
        }

        @include breakpoint($mobile-break) {
          bottom: calc(#{$col-vw * 6} - 4px);
        }
      } // bottom stuff
      #image-81-29 {
        position: absolute;
        bottom: calc(#{$col-vw * 2} - 2px);
        left: 0;
        width: 100%;
        z-index: 2;

        @include breakpoint($mobile-break) {
          bottom: 56vw;
        }
      }
    }
  }
}
