 /******************************************************************

Stylesheet: Gear

Styles for Gear page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.intro {
    @include breakpoint($tablet-break) {
        padding-top: $col-vw;
    }


    @include breakpoint(768px) {
        padding-top: $col-vw / 2;
    }


    @include breakpoint($mobile-break) {
        padding-top: 0;
    }


    #text_block-41-763 {
        padding: 2rem ($col-vw * 2);
    }
}

.gear-row {
    padding: 2rem 0;

    .button {
        margin-top: 2rem;

        @include breakpoint($mobile-break) {
            margin-top: 12rem;
        }
    }

    .gear-wrapper {
        padding: 0 $col-vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left: auto !important;
        margin-right: auto !important;

        @include breakpoint($mobile-break) {
            padding: 0;
            display: block;
            height: 300px;
            width: 90%;
            margin-left: auto !important;
            margin-right: auto !important;
        }


        a {
            width: 23%;
            height: auto;

            @include breakpoint($mobile-break) {
                width: 100%;
                margin: 0 2vw;
                display: block;
                height: 400px;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        @include slick-nav;

        .slick-arrow {
            top: calc(#{-$space * 8} - 3rem);
            right: $col-vw;

            @include breakpoint($tablet-break) {
                top: calc(#{-$space * 4.5} - 2.25rem);
            }


            @include breakpoint($mobile-break) {
                top: 60% !important;
                z-index: 99999;
                fill: #000 !important;

                &.prev {
                    left: 0.5rem !important;
                }

                &.next {
                    right: 0.5rem !important;
                }
            }


            path {
                fill: #000;

                @include breakpoint($mobile-break) {
                    fill: #000 !important;
                }
            }
        }
    }
}

.highlights-wrapper {
    .slick-arrow {
        path {
            fill: $color1;

            @include breakpoint($mobile-break) {
                fill: $color1 !important;
            }
        }
    }
}

.gear-action-row {
    padding: $col-vw $col-vw 0;
}

.ct-code-block .highlights-wrapper .highlight > img {
    height: 15vw !important;

    @include breakpoint($tablet-break) {
        height: 26vw !important;
    }


    @include breakpoint($mobile-break) {
        height: 225px !important;
    }
}