/******************************************************************

Stylesheet: Get Involved

Styles for Get Involved page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.coming-soon-wrap {
  padding: 0 $col-vw $col-vw;
  text-align: center;
  width: 92%;
}

.card {
  .read-more {
    text-align: right;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: $color3;
    font-family: $primary;
    font-weight: 500;
  }
}

.ct-section {
  &.intro {
    padding-left: $col-vw;

    @include breakpoint($tablet-break) {
      @include padding-bottom($col-vw / 2);
    }

    .oxy-rich-text {
      width: $col-vw * 6;

      @include padding-top($col-vw / 2);
      @include padding-bottom($col-vw / 2);

      @include breakpoint($tablet-break) {
        @include padding-top($col-vw);
        @include padding-bottom($col-vw);

        width: 100%;
        text-align: center;
        padding-right: $col-vw;
      }

      @include breakpoint($mobile-break) {
        padding-top: 0 !important;
      }
    }

    .ct-code-block {
      padding-right: $col-vw * 1;

      @include breakpoint($laptop-break) {
        padding-right: $col-vw * 1;
      }

      @include breakpoint($tablet-break) {
        padding-right: $col-vw;
      }
    }

    #image-18-22 {
      position: absolute;
      top: -1px;
      right: 0;
      width: 14.25vw;

      @include breakpoint(2100px) {
        width: 16.25vw;
      }

      @include breakpoint(1525px) {
        width: 17.5vw;
      }

      @include breakpoint($tablet-break) {
        display: none;
      }
    }
  }

  &.testimonies {
    @include liner-gradient(180deg, $color3, $end);

    .ct-section-inner-wrap {
      align-items: flex-end;
      padding-top: $col-vw;
      padding-left: $col-vw;
      padding-right: $col-vw;

      .ct-div-block {
        width: 100%;

        h2 {
          width: 100%;
          color: $white;
          text-align: center;
          padding-bottom: $space * 4;
        }
      }

      .testimony-featured {
        width: 100%;

        @include breakpoint(1024px) {
          display: none;
        }

        .card {
          width: 100%;
          background: $white;
          transition: $transition;
          margin-bottom: $col-vw / 2;
          display: flex;
          align-items: center;
          padding: $col-vw / 2;

          @include box-shadow;

          &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
          }

          @include breakpoint($mobile-break) {
            flex-wrap: wrap;
            padding: $col-vw;
          }

          .read-more {
            display: none;
          }

          .image {
            width: $col-vw * 2.5;
            border-radius: 100%;

            @include breakpoint($laptop-break-sml $desktop-break) {
              width: $col-vw * 5;
            }

            @include breakpoint($tablet-break) {
              width: 30%;
            }

            @include breakpoint($mobile-break) {
              width: 100%;
              padding-bottom: $col-vw;
              text-align: center;
            }

            img {
              width: $col-vw * 2.5;
              border-radius: 100%;

              @include breakpoint($mobile-break) {
                max-width: 70%;
              }
            }
          }

          .info {
            padding-left: $col-vw / 2;

            @include breakpoint($tablet-break) {
              padding-left: $col-vw / 2;
              width: 70%;
            }

            @include breakpoint($mobile-break) {
              width: 100%;
              padding-left: 0;
              text-align: center;
            }

            h4 {
              padding-bottom: 1.5rem;

              p {
                font: $h3 !important;
                padding-left: 3rem;
                padding-top: 2rem;
                position: relative;
                font-size: 1.2em !important;

                @include breakpoint($mobile-break) {
                  padding-left: 0;
                }

                &::before {
                  content: "“";
                  color: $color1;
                  font: $h1;
                  position: absolute;
                  top: -2rem;
                  left: 0;
                  line-height: 1 !important;

                  @include breakpoint($laptop-break) {
                    top: 0;
                  }

                  @include breakpoint($tablet-break) {
                    top: -1rem;
                  }

                  @include breakpoint($mobile-break) {
                    top: -1.75rem;
                  }
                }
              }
            }

            > span {
              padding-left: 3rem;

              @include breakpoint($mobile-break) {
                padding-left: 0;
              }

              p {
                display: inline-block;

                span {
                  font: $h5;
                  font-weight: 700 !important;
                }
              }
            }
          }
        }
      }

      .testimonies-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint($tablet-break) {
          padding-top: 4rem;
        }

        @include slick-nav;

        .slick-arrow {
          top: 1rem;
          right: 0;

          @include breakpoint($tablet-break) {
            top: initial;
          }

          path {
            fill: $color2;
          }
        }

        .card {
          width: $col-vw * 3;
          background: $white;
          padding: ($col-vw / 3) ($col-vw / 4);
          transition: $transition;
          margin-bottom: $col-vw / 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;

          // justify-content: center;

          &:focus {
            .read-more {
              display: none;
            }
            .info p {
              overflow: visible;
              text-overflow: ellipsis;
              display: block;
              max-height: none;
              -webkit-line-clamp: none;
            }
          }

          @include breakpoint($tablet-break) {
            padding: $col-vw / 2;
            width: $col-vw * 5;
            margin: 1rem ($col-vw / 4);
          }

          @include breakpoint($mobile-break) {
            padding: ($col-vw / 2) $col-vw;
            width: 100%;
            text-align: center;
          }

          @include box-shadow;

          &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
          }

          .image {
            border-radius: 100%;
            width: calc(100% / 3);

            @include breakpoint($tablet-break) {
              width: 30%;
            }

            @include breakpoint($mobile-break) {
              // width: 100%;
              // padding-bottom: $col-vw / 2;
              text-align: center;
            }

            img {
              width: 100%;
              border-radius: 100%;

              @include breakpoint($mobile-break) {
                // max-width: 70%;
              }

              @include breakpoint($mobile-break-sml) {
                max-width: 100%;
              }
            }
          }

          .info {
            h4 {
              padding-bottom: 1.5rem;

              p {
                // font: $h4 !important;
                position: relative;

                // font-size: 1em !important;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                max-height: 185px;
                -webkit-line-clamp: 5;

                /* number of lines to show */
                max-height: 185px;

                /* fallback */
                transition: $transition;

                &::before {
                  content: "“";
                  color: $color1;
                  width: 100%;
                  font: $h1;
                  display: block;
                  position: relative;
                  bottom: -1rem;
                  line-height: 1 !important;

                  @include breakpoint($mobile-break) {
                    text-align: left;
                  }
                }
              }
            }
            span {
              p {
                display: inline-block;

                span {
                  font: $h5;
                  font-weight: 700 !important;
                }
              }
            }
          }
        }
      }
    }

    .ct-widget {
      width: $col-vw * 6;
      padding: $col-vw / 2;
      position: relative;
      transition: $transition;
      background: $color1;
      z-index: 11;
      margin-bottom: $col-vw / 4;

      @include margin-top($col-vw / 2);
      @include box-shadow;

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
      }

      @include breakpoint($tablet-break) {
        width: 100%;
        padding: ($col-vw / 2) $col-vw;
      }

      @include breakpoint($mobile-break) {
        padding: $col-vw;
        left: 0;
        margin-bottom: $col-vw / 2;
      }

      .gform_widget {
        .gform_confirmation_wrapper {
          .gform_confirmation_message {
            color: $white;
          }
        }
      }

      .gform_wrapper {
        .gform_title {
          color: $white;
          text-align: center;
        }

        .gform_body {
          .gform_fields {
            .gfield {
              input,
              select {
                border-color: $white;
              }
            }
          }
        }

        .gform_footer {
          text-align: center;

          .submit-button {
            border-color: $white !important;
            background: transparent !important;

            span {
              color: $color4 !important;
            }

            &::before {
              background: $white !important;
            }

            &:hover {
              border-color: $white !important;

              span {
                color: $white !important;
              }
            }
          }
        }
      }
    }

    //signs
    #image-16-22 {
      position: absolute;
      bottom: 0;
      left: $col-vw * 1.75;
      width: $col-vw * 2.75;
      z-index: 8;

      @include breakpoint($tablet-break) {
        display: none;
      }
    }

    //trees
    #image-17-22 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 7;

      @include breakpoint($tablet-break) {
        display: none;
      }
    }

    //white top
    #image-23-22 {
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      z-index: 9;
    }

    // white bottom
    #image-20-22 {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      z-index: 9;
    }
  }
}
