/******************************************************************

Stylesheet: Home Page

Styles for Homepage ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
@at-root {
  [lang="es-ES"] {
    .intro {
      h1 {
        line-height: 1.2;
        @include breakpoint($laptop-break) {
          font-size: 2.75rem !important;
          letter-spacing: -0.5px;
        }

        @include breakpoint($tablet-break) {
        }
      }

      #image-59-50 {
        @include breakpoint($mobile-break) {
          height: calc(34rem + 33.3333333333vw) !important;
        }
      }
    }
  }
}
.ct-section {
  &.intro {
    @include liner-gradient(180deg, $color3, $end);

    .ct-section-inner-wrap {
      &::after {
        content: "";
        width: 100%;
        height: calc(24rem + #{$col-vw * 2});
        background: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;

        @include breakpoint($mobile-break) {
          display: block;
          height: calc(24rem + #{$col-vw * 0.8});
        }
      }

      h3 {
        width: 30rem;
        padding-bottom: 0.5rem;

        @include breakpoint($tablet-break) {
          font-size: 1.5rem !important;
          font-weight: 600;
          line-height: 1rem;
        }

        @include breakpoint(359px) {
          font-size: 1.2rem !important;
        }
      }

      #link_text-7-16 {
        background: $white !important;
      }
    }

    #new_columns-3-16 {
      z-index: 10;

      @include padding-top($col-vw / 2);
      @include padding-bottom($col-vw * 1.25);
      @include side-gutters-lrg;

      @include breakpoint($tablet-break) {
        justify-content: flex-start;
        padding-top: ($col-vw * 1.5) !important;
      }

      @include breakpoint($mobile-break-sml) {
        @include padding-bottom($col-vw * 1.75);
      }

      .ct-div-block {
        @include breakpoint($tablet-break) {
          width: 100% !important;
        }
        @include breakpoint($mobile-break) {
          align-items: center;
        }

        .oxy-rich-text {
          width: 100% !important;

          @include breakpoint($mobile-break) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          h1 {
            padding-bottom: $space * 3;
          }

          h4 {
            padding-bottom: $space * 3;

            &:last-child {
              padding-bottom: $space * 6;
            }
          }
        }
      }

      #div_block-5-16 {
        align-items: flex-end;

        @include breakpoint($tablet-break) {
          display: none;
        }

        img {
          padding-top: 1rem;
          width: $col-vw * 2.5;

          @include breakpoint($tablet-break) {
            padding-top: 0;
          }
        }
      }
    }

    #new_columns-9-16 {
      z-index: 10;
      padding-bottom: $col-vw * 1.85;

      @include breakpoint($laptop-break) {
        padding-bottom: $col-vw * 2.25;

        @include side-gutters;
      }

      @include breakpoint($mobile-break) {
        padding-bottom: $col-vw !important;
      }

      // text
      #div_block-11-16 {
        padding-top: $col-vw / 2;
        width: $col-vw * 3;

        .oxy-rich-text {
          width: 100%;
        }

        @include breakpoint($laptop-break) {
          width: 60% !important;
          padding-left: $col-vw;
        }

        @include breakpoint($desktop-break) {
          h2 {
            font-size: 2rem;
          }
        }

        @include breakpoint($mobile-break) {
          width: 100% !important;
          height: 24rem;
          padding: 0;
          padding-top: 2rem;
        }

        h2 {
          padding-bottom: $space * 4;

          @include breakpoint($mobile-break) {
            padding-bottom: $space * 3;
          }
        }

        p {
          padding-bottom: $space * 6;
        }
      }

      // bishop
      #div_block-10-16 {
        @include breakpoint($laptop-break) {
          width: 40% !important;
        }

        @include breakpoint($tablet-break) {
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
        }

        @include breakpoint($mobile-break) {
          align-items: center;
        }

        @include breakpoint($mobile-break) {
          width: 100% !important;
        }

        img {
          width: $col-vw * 3.75;

          @include breakpoint($laptop-break) {
            position: relative;
            bottom: -$col-vw / 8;
          }

          @include breakpoint($tablet-break) {
            width: $col-vw * 4.25;
          }

          @include breakpoint($mobile-break) {
            width: $col-vw * 6;
          }
        }
      }
    }

    // top white piece
    #image-59-50 {
      position: absolute;
      top: -1px;
      left: -13vw;
      width: 100%;
      height: 42vw;

      @include breakpoint(2500px 3000px) {
        left: -10vw;
      }

      @include breakpoint(2024px 2500px) {
        left: -11vw;
      }

      @include breakpoint(1700px) {
        left: calc(-15vw + 1.75rem);
      }

      @include breakpoint($laptop-break + 50px) {
        left: calc(-17vw + 0.75rem);
      }

      @include breakpoint($laptop-break) {
        left: calc(-20vw + 0.75rem);
        width: auto;
        height: 45vw;
        max-width: initial;
      }

      @include breakpoint($laptop-break-sml) {
        height: 48vw;
        left: calc(-28vw + 1rem);
      }

      @include breakpoint($tablet-break) {
        height: calc(25rem + #{$col-vw * 4});
      }

      @include breakpoint($mobile-break) {
        height: calc(30rem + #{$col-vw * 4});
        left: -60%;
      }

      @include breakpoint($mobile-break-sml) {
        height: calc(32rem + #{$col-vw * 4.75});
        left: -60%;
      }
    }

    // bottom white peice
    #image-60-50 {
      position: absolute;
      bottom: -1px;
      left: 0;
      // width: 100%;
      z-index: 11;

      max-width: 101%;
      width: 101%;

      transform: translateX(-50%);
      left: 50%;

      @include breakpoint($mobile-break) {
        bottom: calc(24.5rem - 1px);
        transform: scale(1.5, 0.6);
        left: 22%;
      }
    }

    // first trees
    #image-61-50 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      @include breakpoint($mobile-break) {
        bottom: calc(24rem - 1px + #{$col-vw * 0.8});
      }
    }
  }

  &.youtube {
    @include padding-top($col-vw / 4);
    @include padding-bottom($col-vw / 4);
    @include side-gutters-lrg;

    @include breakpoint($mobile-break) {
      padding-top: 0;
    }

    @include breakpoint($mobile-break) {
      @include padding-top($col-vw / 2);
      @include padding-bottom($col-vw / 1.5);
    }

    a.yt-link {
      &:hover {
        .yt-video-wrapper {
          svg {
            transform: scale(1.03);

            path {
              fill: $color3 !important;
            }
          }
        }
      }

      .yt-video-wrapper {
        width: 90%;
        height: 32vw;
        margin: 0 auto;
        background-image: url(https://onelifela.org/wp-content/uploads/2019/06/OLLA_Web-Grab_1280x640.jpg);
        background-size: cover;

        @include breakpoint(1600px) {
          height: 40vw;
        }

        @include breakpoint($tablet-break) {
          height: 50vw;
        }

        @include breakpoint($mobile-break) {
          width: 100%;
        }

        svg {
          width: 8vw;
          height: 6vw;
          position: relative;
          top: calc(50% - 3vw);
          left: calc(50% - 4vw);
          transition: $transition;

          path {
            transition: $transition;
          }
        }
      }
    }
  }

  &.onelife {
    position: relative;

    @include liner-gradient(150deg, $color3, $end);

    &::after {
      content: "";
      width: 100%;
      height: $col-vw * 4;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $white;
      display: none;
      z-index: 0;

      @include breakpoint($mobile-break) {
        display: block;
      }
    }

    .ct-section-inner-wrap {
      padding-top: ($col-vw * 1.75) !important;

      @include side-gutters;

      @include breakpoint($laptop-break-sml) {
        padding-left: ($col-vw / 2) !important;
        padding-right: ($col-vw / 2) !important;
      }

      @include breakpoint($tablet-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
      }

      > h2 {
        padding-bottom: $space * 8;
        width: 100%;
        text-align: center;

        @include breakpoint($tablet-break) {
          padding-bottom: $space * 6;
        }

        @include breakpoint($mobile-break) {
          padding-bottom: $space * 4;
        }
      }

      .ct-new-columns {
        justify-content: space-between;
        text-align: center;

        // @include breakpoint($tablet-break) {
        //   padding-top: 4rem;
        // }

        @include slick-nav;

        .slick-arrow {
          top: 1rem;
          right: 0;

          path {
            fill: $color2;
          }
        }

        #div_block-32-16,
        #div_block-40-16,
        #div_block-37-16,
        .ct-link {
          width: $col-vw * 3;
          padding: ($col-vw / 4) ($col-vw / 2);
          transition: $transition;
          background: $white;
          align-items: center;

          @include box-shadow;

          &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

            h4 {
              color: $color1;
            }
          }

          @include breakpoint($laptop-break) {
            width: $col-vw * 3.1;
          }

          @include breakpoint($tablet-break) {
            // width: ($col-vw * 4.25) !important;
            margin: 1rem ($col-vw / 4);
            padding: $col-vw;
          }

          .oxy-rich-text {
            width: 100%;
          }

          img {
            width: $col-vw * 1.25;
            padding-bottom: $space * 4;
            min-height: $col-vw * 1.5;

            @include breakpoint($tablet-break) {
              margin: 0 auto;
              width: $col-vw * 2.5;
            }
          }

          h4 {
            padding-bottom: $space * 3;
            transition: $transition;
          }
        }
      }

      // register now area
      #div_block-69-50 {
        width: $col-vw * 4.5;
        padding: $col-vw / 2;
        position: relative;
        left: $col-vw;
        transition: $transition;
        background: $white;
        z-index: 10;
        margin-bottom: $col-vw / 4;

        @include margin-top($col-vw);
        @include box-shadow;

        &:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
        }

        @include breakpoint($laptop-break) {
          width: $col-vw * 5;
        }

        @include breakpoint($tablet-break) {
          width: $col-vw * 6.25;
          left: 0;
          padding: $col-vw;
        }

        @include breakpoint($mobile-break) {
          width: 100%;
          margin-bottom: $col-vw / 2;
          text-align: center;
          align-items: center;
        }

        p,
        h2 {
          margin-bottom: $space * 8;
          width: 100%;

          @include breakpoint($tablet-break) {
            margin-bottom: $space * 6;
          }

          @include breakpoint($mobile-break) {
            margin-bottom: $space * 4;
          }
        }

        #field_7_2 {
          display: none !important;
        }
      }

      // girls
      #image-57-50 {
        position: absolute;
        bottom: 0;
        right: $col-vw / 3 * 2;
        width: $col-vw * 5;
        z-index: 8;

        @include breakpoint($laptop-break) {
          right: $col-vw / 2;
        }

        @include breakpoint($mobile-break) {
          display: none;
        }
      }

      // top white piece
      #image-63-50 {
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;

        @include breakpoint($laptop-break) {
          max-width: 110%;
          width: 110%;
          left: -10px;
        }
      }

      // bottom white piece
      #image-64-50 {
        position: absolute;
        left: 0;
        bottom: -1px;
        z-index: 9;
        width: 100%;

        @include breakpoint($mobile-break) {
          bottom: calc(#{$col-vw * 4} - 1px);
        }
      }
    }
  }

  &.community {
    @include padding-top($col-vw);
    @include padding-bottom($col-vw / 4);

    padding-left: 0 !important;
    padding-right: 0 !important;

    .ct-section-inner-wrap {
      padding-left: $col-vw;
      padding-right: $col-vw;

      .ct-code-block {
        width: 100%;
      }
    }
  }

  &.highlights {
    position: relative;

    @include liner-gradient(200deg, $color3, $end);

    &::after {
      content: "";
      width: 100%;
      height: $col-vw * 4;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $white;
      display: none;
      z-index: 0;

      @include breakpoint($mobile-break) {
        display: block;
      }
    }

    .ct-section-inner-wrap {
      padding-left: $col-vw * 2;
      padding-top: $col-vw * 1.5;

      @include breakpoint($laptop-break) {
        padding-left: $col-vw;
      }

      @include breakpoint($mobile-break) {
        padding-right: $col-vw;
        padding-top: $col-vw * 2;
      }
    }

    .ct-code-block {
      width: 100%;

      @include padding-bottom($col-vw);

      @include breakpoint($mobile-break) {
        padding-bottom: $col-vw;
      }
    }

    .ct-widget {
      width: $col-vw * 5;
      padding: $col-vw / 2;
      position: relative;
      left: -$col-vw / 2;
      transition: $transition;
      background: $white;
      z-index: 11;
      margin-bottom: $col-vw / 4;

      @include box-shadow;

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
      }

      @include breakpoint($laptop-break) {
        left: $col-vw / 2;
      }

      @include breakpoint($tablet-break) {
        width: $col-vw * 6.25;
        padding: $col-vw / 3;
      }

      @include breakpoint($mobile-break) {
        width: 100%;
        padding: $col-vw;
        left: 0;
        margin-bottom: $col-vw / 2;
      }
    }

    // photo people
    #image-58-50 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: $col-vw * 5.5;
      z-index: 8;

      @include breakpoint($mobile-break) {
        display: none;
      }
    }

    // top white piece
    #image-65-50 {
      position: absolute;
      left: 0;
      top: -1px;
      width: 100%;
    }

    // bottom white piece
    #image-66-50 {
      position: absolute;
      left: 0;
      bottom: -1px;
      z-index: 9;
      width: 100%;

      @include breakpoint($mobile-break) {
        bottom: calc(#{$col-vw * 4} - 1px);
      }
    }
  }
}

.sign-up-row {
  padding-left: $col-vw * 4;
  padding-right: $col-vw * 4;

  @include padding-top($col-vw);

  @include breakpoint($laptop-break) {
    padding-left: $col-vw * 3;
    padding-right: $col-vw * 3;
  }

  @include breakpoint($tablet-break) {
    padding-left: $col-vw * 2;
    padding-right: $col-vw * 2;
  }
}

// 2020 WALK - NEW CODE
#field_31_2 {
  display: none;
}

#field_31_1 {
  margin-top: 0;
}

#gform_wrapper_31 {
  h3 {
    padding-bottom: 1rem !important;
  }
}
