/******************************************************************

Stylesheet: News/Highlights

Styles for News/Highlights page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

#div_block-9-873 {
  width: 100%;
}

.news-highlights-section {
  padding: 0 $col-vw;

  .featured {
    width: 50%;
    padding-right: $col-vw / 8;

    @include breakpoint($tablet-break) {
      width: 100%;
    }

    .article-wrapper {
      padding: $col-vw / 8;
      box-shadow: 0 3px 6px transparentize($color: #000000, $amount: 0.84);

      @include breakpoint($tablet-break) {
        padding: $col-vw / 2;
      }

      @include breakpoint($mobile-break) {
        padding: 0;
        box-shadow: none;
      }
    }
  }

  .side-articles {
    width: 50%;
    padding-left: $col-vw / 6;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($tablet-break) {
      padding-left: 0;
      width: 100%;
      margin-top: $col-vw / 2;
    }

    .article-wrapper {
      @include row-item-grid(2, $col-vw / 8);

      @include breakpoint($tablet-break) {
        @include row-item-grid(2, $col-vw / 2);
      }

      @include breakpoint($mobile-break) {
        @include row-item-grid(1, $col-vw / 2);

        .img-wrapper {
          display: none;
        }
      }

      &:nth-child(3) {
        border-top: 2px solid $color3;
        padding-top: $col-vw / 8;

        .img-wrapper {
          display: none;
        }

        @include breakpoint($tablet-break) {
          display: none;
        }
      }
    }
  }
}

.lb-highlights-news {
  margin-top: $col-vw / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @include breakpoint($tablet-break) {
    justify-content: center;
  }

  @include breakpoint($mobile-break) {
    margin-top: $col-vw;
  }

  .article-wrapper {
    > a {
      &:hover {
        h4 {
          color: $color2;
        }
      }
    }
    .date {
      color: transparentize($color2, 0.4);
      font: $body-font;
    }

    h4 {
      font-weight: 600;
      color: $color1;
      margin-bottom: 0.5rem;
      transition: $transition;
      @include breakpoint(1400px) {
        font-size: 1.2rem !important;
      }
    }

    .img-wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 52.625%;
      margin-bottom: 1rem;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .button-highlight {
    @include breakpoint($mobile-break) {
      margin-top: 1rem;
    }
  }
}
