/******************************************************************

Stylesheet: Past Events

Styles for Past Events page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.intro {
  background: none !important;

  .ct-section-inner-wrap {
    padding-bottom: 4rem !important;

    @include breakpoint($mobile-break) {
      padding-bottom: 2rem !important;
      padding-left: $col-vw !important;
      padding-right: $col-vw !important;
    }

    &::before {
      display: none !important;
    }

    h2 {
      color: $color2;
      z-index: 9999;

      @include breakpoint($mobile-break) {
        padding-top: 0 !important;
      }
    }

    .ct-div-block {
      @include breakpoint($mobile-break) {
        margin-top: 0 !important;
      }
    }

    .ct-code-block {
      flex-wrap: wrap;

      &#code_block-18-873,
      &#code_block-76-961,
      &#code_block-77-961,
      &#code_block-78-961 {
        justify-content: flex-end;
      }

      @include breakpoint($mobile-break) {
        margin-top: 1rem !important;
      }

      .highlights-wrapper {
        flex-basis: 100%;
      }
    }
  }

  #image-119-961 {
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint($tablet-break) {
      display: none;
    }
  }
}

.pagination-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @include breakpoint($tablet-break) {
    justify-content: center;
  }
}

@keyframes pageable-slide {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.news-highlights-section {
  padding-left: $col-vw * 1.5;
  padding-right: $col-vw * 1.5;

  @include breakpoint($mobile-break) {
    padding-left: $col-vw;
    padding-right: $col-vw;
  }
}

.media-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  padding: 2rem 0 1rem 0 !important;
  border-bottom: 2px solid $color3;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  @include breakpoint($mobile-break) {
    flex-wrap: wrap;
  }

  h2 {
    &#headline-64-961 {
      flex-basis: 100%;

      @include breakpoint($mobile-break) {
        margin-bottom: 2rem;
      }
    }
  }

  h3 {
    border-bottom: none !important;
    width: auto;
    padding-bottom: 0 !important;

    @include breakpoint($mobile-break) {
      margin-bottom: 2rem;
    }
  }
}
.pagination-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-basis: 60%;
  align-items: flex-end;
  margin-top: 0 !important;

  @include breakpoint($tablet-break) {
    flex-basis: 100%;
  }

  .ct-link {
    h4 {
      font-weight: 600;
      transition: $transition;
    }

    &.active {
      h4 {
        font-weight: 800;
      }
    }
  }
}

.alm-video-block-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .alm-video-wrapper {
    width: 24% !important;
    margin: 0 0 1rem !important;
    height: auto !important;

    @include breakpoint($tablet-break) {
      width: 48% !important;
    }

    @include breakpoint($mobile-break) {
      width: 100% !important;
    }

    .alm-video-title {
      margin-top: 0 !important;
      font-weight: 600;
    }

    &:nth-child(n + 9) {
      display: none;
    }

    @include breakpoint($mobile-break) {
      &:nth-child(n + 2) {
        display: none;
      }
    }

    &.show-more {
      display: flex;
      animation: pageable-slide 0.55s ease-in-out forwards 0s;
    }

    img {
      width: 100% !important;
      height: 11vw !important;

      @include breakpoint($tablet-break) {
        height: 21vw !important;
      }

      @include breakpoint($mobile-break) {
        height: 26vh !important;
      }
    }

    .alm-video-link {
      margin-bottom: -11vw;

      @include breakpoint($tablet-break) {
        height: -21vw !important;
      }

      @include breakpoint($mobile-break) {
        margin-bottom: -26vh;
      }

      .play-button-wrap {
        height: 11vw !important;

        @include breakpoint($tablet-break) {
          height: 21vw !important;
        }

        @include breakpoint($mobile-break) {
          height: 26vh !important;
        }
      }
    }
  }
}
.pagination-body {
  display: none;

  &.active {
    display: flex;
    animation: pageable-slide 0.55s ease-in-out forwards 0s;
  }
}
