/******************************************************************

Stylesheet: Photos

Styles for News page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-photos-body {
    padding: 213px 16vw 0vw;

    @include breakpoint($mobile-break) {
        padding-top: 32vw;
    }


    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .gallery-row {
        width: 100% !important;
    }
}

.jp-carousel-left-column-wrapper,
.jp-carousel-buttons,
.jp-carousel-light .jp-carousel-titleanddesc {
    display: none !important;
}