/******************************************************************

Stylesheet: Article/Post template

Styles for post templates ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.intro {
    @include liner-gradient(180deg, $color3, $end);

    .ct-section-inner-wrap {
        display: flex;
        align-items: center;

        #new_columns-16-548 {
            align-items: flex-start !important;
            z-index: 10;
            flex-wrap: nowrap;

            @include padding-top($col-vw);

            @include padding-top($col-vw / 2);

            @include breakpoint($tablet-break) {
                flex-wrap: wrap;
            }


            @include breakpoint($mobile-break) {
                padding-top: 0;
            }


            //first column
            #div_block-17-548 {
                width: ($col-vw * 7) !important;
                background: $white;
                padding: ($col-vw / 2) $col-vw;
                margin-bottom: $col-vw / 4;
                transition: $transition;

                @include box-shadow;

                &:hover {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
                }

                @include breakpoint($tablet-break) {
                    width: ($col-vw * 10) !important;
                    padding: $col-vw;
                }


                @include breakpoint($mobile-break) {
                    margin-bottom: $col-vw / 2;
                }


                .ct-code-block {
                    .top-peice {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 2rem;

                        @include breakpoint($mobile-break) {
                            flex-wrap: wrap;
                        }


                        .back {
                            @include breakpoint($mobile-break) {
                                width: 100%;
                            }


                            a {
                                color: $color3;
                                transition: $transition;

                                &:hover {
                                    color: $color1;
                                }
                            }
                        }

                        .pls-share {
                            display: flex;
                            align-items: center;

                            @include breakpoint($mobile-break) {
                                width: 100%;
                            }


                            .share {
                                width: 30%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;

                                a {
                                    display: flex;
                                    align-items: center;

                                    svg {
                                        width: 2rem;
                                        height: 1.25rem;

                                        path {
                                            fill: $color3;
                                            transition: $transition;
                                        }

                                        &:hover {
                                            path {
                                                fill: $color1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .info {
                        margin-bottom: 2rem;

                        .title {
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                        }

                        .extras {
                            display: flex;
                            align-items: flex-start;

                            .date {
                                width: 70%;
                            }

                            .share {
                                width: 30%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;

                                svg {
                                    width: 2rem;
                                    height: 1.25rem;

                                    path {
                                        fill: $color3;
                                        transition: $transition;
                                    }

                                    &:hover {
                                        path {
                                            fill: $color1;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .featured-image {
                        margin-bottom: 2rem;

                        img {                            
                            width: 100%;

                            @include breakpoint($tablet-break) {
                                width: 70%;
                            }


                            @include breakpoint($mobile-break) {
                                width: 100%;
                            }
                        }
                    }

                    .speaker-image {
                        img {
                            height: 12.5vh;
                            width: auto;
                        }
                    }

                    .content {
                        p {
                            margin-bottom: 1rem;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        img {
                            max-height: 100%;
                            max-width: 100%;
                            height: auto;
                        }

                        ul,
                        img,
                        blockquote {
                            margin: 2rem 0;
                        }

                        blockquote {
                            color: $color1;
                            padding-left: 1rem;
                            padding-right: 1rem;

                            p {
                                color: $color1;
                                font: $h5;
                            }
                        }
                    }
                }
            }

            #div_block-18-548 {
                width: ($col-vw * 3) !important;
                padding-left: $col-vw / 2;
                padding-top: 31vh;

                @include breakpoint($tablet-break) {
                    width: 100% !important;
                    padding-left: 0;
                    align-items: center;
                    margin-bottom: $col-vw / 2;

                    @include padding-top($col-vw);
                    @include padding-bottom($col-vw);
                }


                .oxy-rich-text {
                    @include breakpoint($tablet-break) {
                        text-align: center;
                    }


                    h3 {
                        margin-bottom: 1.5rem;
                    }
                }

                .button {
                    margin-top: 2rem;
                }
            }
        }
    }
}

// top piece
#image-26-548 {
    position: absolute;
    top: 0;
    left: 0;
    width: 83vw;
    pointer-events: none;

    @include breakpoint(1900px) {
        width: 82vw;
    }


    @include breakpoint($laptop-break) {
        width: 81vw;
    }


    @include breakpoint($tablet-break) {
        width: $col-vw * 15;
        max-width: initial;
        left: -$col-vw * 1.75;
    }


    @include breakpoint($mobile-break) {
        width: auto;
        height: $col-vw * 12;
        left: initial;
        right: -$col-vw * 1.75;
    }
}

//white piece
#image-27-548 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    pointer-events: none;

    // @include breakpoint($tablet-break) {
    //     bottom: calc(9rem - 1px + #{$col-vw * 6});
    // }

    // @include breakpoint($mobile-break) {
    //     bottom: calc(9rem - 1px + #{$col-vw * 15});
    // }
}