/******************************************************************

Stylesheet: Register

Styles for Register page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.ct-section {
    &.intro {
        @include liner-gradient(180deg, $color3, $end);

        .ct-section-inner-wrap {
            @include side-gutters;

            &::before {
                content: '';
                width: 100%;
                height: calc(9rem + #{$col-vw * 2});
                background: $white;
                position: absolute;
                bottom: 0;
                left: 0;
                display: none;

                @include breakpoint($tablet-break) {
                    display: block;
                }


                @include breakpoint($mobile-break) {
                    height: 9rem;
                }
            }

            .subscribe-section {
                width: ($col-vw * 7) !important;
                background: $white;
                padding: ($col-vw / 2) $col-vw;
                margin-bottom: $col-vw / 4;
                z-index: 10;


                @include margin-top($col-vw / 2);
                @include box-shadow;

                &:hover {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
                }

                @include breakpoint($tablet-break) {
                    width: 100% !important;
                    padding: $col-vw;
                }


                @include breakpoint($mobile-break) {
                    margin-bottom: $col-vw / 2;
                    margin-top: 0 !important;
                }

                .oxy-rich-text {
                    padding: 2rem 0;
                }


                .ct-widget {
                    width: auto !important;
                    padding: 0 !important;
                    margin: 0 !important;
                    box-shadow: none !important;

                    &:hover {
                        box-shadow: none !important;
                    }

                    @include breakpoint($tablet-break) {
                        padding: 0 !important;
                    }
                }

                @include breakpoint($mobile-break) {
                    margin: 0 !important;
                }
            }

            .ct-widget {
                width: ($col-vw * 7) !important;
                background: $white;
                padding: ($col-vw / 2) $col-vw;
                margin-bottom: $col-vw / 4;
                z-index: 10;

                @include margin-top($col-vw / 2);
                @include box-shadow;

                &:hover {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
                }

                @include breakpoint($tablet-break) {
                    width: 100% !important;
                    padding: $col-vw;
                }


                @include breakpoint($mobile-break) {
                    margin-bottom: $col-vw / 2;
                    margin-top: 0 !important;
                }


                .gform_wrapper {
                    .gform_heading {}

                    // LANDING FORM

                    #gform_25 {
                        .gform_description {
                            padding-bottom: 0.5rem !important;
                        }

                        #field_25_1 {
                            .gfield_label {
                                display: none !important;
                                margin-bottom: 2rem;
                            }

                            .ginput_container_select {
                                padding-left: 0 !important;
                            }
                        }
                    }

                    .gform_body {
                        .gf-pad-btm {
                            margin-bottom: 3.25rem;
                        }

                        .gf-time-headers {
                            width: 30%;
                            display: inline-block;
                            margin-top: 24px !important;
                            height: 65px;
                            line-height: 65px !important;
                            font-weight: 600 !important;

                            @include breakpoint($mobile-break) {
                                display: block;
                                width: 100%;
                                height: auto;
                                line-height: inherit !important;
                                margin-top: 16px !important;
                            }


                            &.gf-time-headers-last {
                                margin-bottom: 24px !important;

                                @include breakpoint($mobile-break) {
                                    margin-bottom: 0 !important;
                                }
                            }
                        }

                        .gf-time-fields {
                            width: 23.3% !important;

                            select {
                                padding: 0rem 1rem !important;
                            }

                            @include breakpoint($tablet-break) {
                                select {
                                    padding: 0rem 0.5rem !important;
                                }
                            }


                            @include breakpoint($mobile-break) {
                                width: 32% !important;
                                display: inline-block !important;
                                margin-top: 3px !important;
                                margin-bottom: 5px !important;

                                &#field_26_20,
                                &#field_26_23 {
                                    margin-left: 2% !important;
                                    margin-right: 2% !important;
                                }
                            }
                        }

                        // add bottom margin to break up the sections
                        #field_5_1,
                        #field_25_1,
                        #field_5_12,
                        #field_5_7,
                        #field_5_14,
                        #field_5_9,
                        #field_5_24,
                        #field_5_25,
                        #field_29_9,
                        #field_29_10,
                        .show-label {
                            margin-bottom: 3.25rem;

                            &.gf-btm {
                                margin-bottom: 0 !important;
                            }

                            .ginput_container {
                                margin-top: 16px !important;
                            }

                            .gfield_label {
                                color: $color1 !important;
                                display: block;
                                font: $body-font;
                                font-weight: 600 !important;
                            }

                            .gfield_required {
                                display: none;
                            }

                            @include breakpoint($tablet-break) {
                                margin-bottom: 3rem;
                            }


                            @include breakpoint($mobile-break) {
                                margin-bottom: 2.75rem;
                            }
                        }

                        #field_5_1,
                        #field_25_1,
                        #field_5_9,
                        #field_5_10,
                        #field_5_25,
                        #field_5_11,
                        #field_5_12,
                        #field_5_26,
                        #field_29_9 {
                            label {
                                display: block;
                            }
                        }

                        .gfield_html {
                            font: $body-font;
                            color: $color1;
                        }

                        #field_5_1,
                        #field_25_1,
                        #field_5_11,
                        #field_5_12,
                        #field_5_26 {
                            > label {
                                color: $color3;
                                font-weight: 600 !important;
                            }
                        }

                        #field_5_9,
                        #field_5_10 {
                            > label {
                                color: $color1;
                                font-weight: 600 !important;
                            }
                        }

                        #field_5_26,
                        #field_5_11 {
                            margin-bottom: 2rem;
                        }

                        #field_5_28 {
                            margin-top: 2rem;
                        }

                        .gfield_radio {
                            li {
                                input {
                                    display: none;

                                    &:checked {
                                        + label {
                                            font-weight: 400 !important;

                                            &::after {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }

                                label {
                                    display: block;
                                    position: relative;
                                    padding-left: 2rem;
                                    margin-right: 0;
                                    font-weight: 500 !important;
                                    font: $body-font;

                                    &::before {
                                        width: 1rem;
                                        height: 1rem;
                                        content: '';
                                        position: absolute;
                                        border: 1px solid $color2;
                                        border-radius: 100%;
                                        background: transparent;
                                        top: 50%;
                                        left: 0;
                                        transform: translateY(-50%);
                                    }

                                    &::after {
                                        width: 1rem;
                                        height: 1rem;
                                        content: '';
                                        position: absolute;
                                        background: $color2;
                                        border-radius: 100%;
                                        top: 50%;
                                        left: 0;
                                        transform: translateY(-50%);
                                        opacity: 0;
                                        transition: $transition;
                                    }
                                }
                            }
                        }
                    }

                    .gform_page_footer {
                        border-top: 0 !important;
                        padding-top: ($col-vw / 4) !important;
                    }

                    .gform_footer {}
                }
            }

            // top white
            #image-4-20 {
                position: absolute;
                top: 0;
                left: -12.5vw;
                pointer-events: none;
                z-index: 0;
                width: 95.916667vw;

                @include breakpoint(1670px) {
                    left: -14vw;
                    width: 95.916667vw;
                }


                @include breakpoint($tablet-break) {
                    width: $col-vw * 15;
                    max-width: initial;
                    left: -$col-vw * 1.75;
                }


                @include breakpoint($mobile-break) {
                    width: auto;
                    height: 64vw;
                    left: initial;
                    right: -$col-vw * 1.75;
                }
            }

            //white piece
            #image-5-20 {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 0;
                pointer-events: none;

                @include breakpoint($tablet-break) {
                    bottom: calc(9rem - 1px + #{$col-vw * 2});
                    transform: scale(1.1);
                }


                @include breakpoint($mobile-break) {
                    bottom: 0;
                }
            }
        }
    }
}

// STEP STYLES
.gform_wrapper {
    .gform_heading {
        margin-bottom: 0 !important;
    }

    .gform_title {
        margin-bottom: 0 !important;
        padding-bottom: ($col-vw / 4) !important;

        @include breakpoint($tablet-break) {
            text-align: center;
        }


        @include breakpoint($mobile-break) {
            padding-bottom: ($col-vw / 2) !important;
        }
    }

    .gf_page_steps {
        border-bottom: 0 !important;
        height: 70px !important;
        margin-bottom: ($col-vw / 4) !important;

        @include breakpoint($tablet-break) {
            text-align: center !important;
            height: 70px !important;
        }


        @include breakpoint($mobile-break) {
            height: 48px !important;
        }


        .gf_step {
            width: 60px !important;
            height: 60px !important;
            border: 2px solid $color3;
            text-align: center;
            line-height: 60px !important;
            border-radius: 34px;
            color: $color3;
            font-family: $primary !important;
            font-size: 2.25rem !important;
            font-weight: 600 !important;
            margin: 0 80px 0 0 !important;

            @include breakpoint($mobile-break) {
                width: 40px !important;
                height: 40px !important;
                line-height: 40px !important;
                border-radius: 34px;
                font-size: 1.25rem !important;
                font-weight: 500 !important;
                margin: 0 50px 0 0 !important;
                display: inline-block !important;
            }


            @include breakpoint(359px) {
                margin: 0 34px 0 0 !important;
            }


            &::after {
                content: '';
                display: block;
                position: relative;
                right: -120%;
                top: -177%;
                height: 2px;
                width: 60px;
                background-color: $color3;

                @include breakpoint($mobile-break) {
                    right: -126%;
                    top: -177%;
                    height: 2px;
                    width: 35px;
                }


                @include breakpoint(359px) {
                    width: 19px;
                }
            }

            .gf_step_number {
                font-family: $primary !important;
                font-size: 2.25rem !important;
                text-align: center !important;
                height: 67px !important;
                width: 57px !important;
                margin-top: -1px;

                @include breakpoint($mobile-break) {
                    height: 40px !important;
                    width: 38px !important;
                    margin-top: -5px;
                }
            }

            &.gf_step_last {
                margin-right: 0 !important;

                &::after {
                    display: none !important;
                }
            }

            &.gf_step_completed {
                background-color: $color3 !important;
                color: $color3 !important;
                opacity: 1 !important;

                .gf_step_number {
                    display: none !important;
                }

                &::before {
                    content: url("/wp-content/uploads/2018/09/check@2x.png");
                    display: block;
                    height: 67px !important;
                    width: 57px !important;
                    position: relative;
                    top: 3px;
                    transform: scale(0.8);

                    @include breakpoint($mobile-break) {
                        height: 40px !important;
                        width: 40px !important;
                        position: relative;
                        top: 0px;
                        transform: scale(0.6);
                        left: -2px;
                    }
                }

                svg {
                    width: 50px !important;
                    height: 50px !important;
                }
            }
        }
    }
}

@include breakpoint($mobile-break) {
    .footer #new_columns-3-13 #div_block-5-13 {
        display: none !important;
    }
}