/******************************************************************

Stylesheet: Search Results

Styles for search result page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.ct-section {
    &.intro {
        @include side-gutters;

        .ct-code-block {
            @include padding-top($col-vw);

            h2 {
                color: $color1;
                margin-bottom: 2rem;
            }

            li {
                padding-top: $col-vw / 2;
                list-style: none;

                h4 {
                    font-weight: 500 !important;
                    color: $color1;
                }
            }
        }
    }
}