/******************************************************************

Stylesheet: Mixins Stylesheet

******************************************************************/
/*************************
MEDIA QUERY (MQ)
*************************/
@import "breakpoint";

//box shadow
@mixin box-shadow {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.16);
}

// linear gradient
@mixin liner-gradient($direction, $first, $second) {
  background: linear-gradient($direction, $first 0%, $second 100%);
}

// slick nav
@mixin slick-nav {
  .slick-list {
    @include breakpoint($tablet-break) {
      padding-bottom: 3rem;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    cursor: pointer;

    @include breakpoint($tablet-break) {
      width: 1.75rem;
      top: initial !important;
      bottom: 0;
    }

    @include breakpoint($mobile-break) {
      width: 1.25rem;
    }

    &:hover {
      path {
        fill: $color1;
      }
    }

    path {
      fill: $color3;
      transition: $transition;
    }

    &.prev {
      margin-right: 4rem;

      @include breakpoint($tablet-break) {
        margin-right: 3rem;
      }

      @include breakpoint($mobile-break) {
        margin-right: 2.75rem;
      }
    }
  }
}

/*************************
MEDIA QUERY (MQ)
*************************/
// gutter padding
@mixin side-gutters {
  padding-left: $col-vw !important;
  padding-right: $col-vw !important;

  @include breakpoint($laptop-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }

  @include breakpoint($mobile-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }
}

@mixin side-gutters-lrg {
  padding-left: ($col-vw * 2) !important;
  padding-right: ($col-vw * 2) !important;

  @include breakpoint($laptop-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }

  @include breakpoint($mobile-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }
}

// padding top
@mixin padding-top($pad) {
  padding-top: $pad;

  @include breakpoint($tablet-break) {
    padding-top: $pad * 1.5;
  }

  @include breakpoint($mobile-break) {
    padding-top: $pad * 2;
  }
}

// padding bottom
@mixin padding-bottom($pad) {
  padding-bottom: $pad;

  @include breakpoint($tablet-break) {
    padding-bottom: $pad * 1.5;
  }

  @include breakpoint($mobile-break) {
    padding-bottom: $pad * 2;
  }
}

// margin top
@mixin margin-top($margin) {
  margin-top: $margin !important;

  @include breakpoint($tablet-break) {
    margin-top: ($margin * 1.5) !important;
  }

  @include breakpoint($mobile-break) {
    margin-top: ($margin * 2) !important;
  }
}

// margin bottom
@mixin margin-bottom($margin) {
  margin-bottom: $margin !important;

  @include breakpoint($tablet-break) {
    margin-bottom: ($margin * 1.5) !important;
  }

  @include breakpoint($mobile-break) {
    margin-bottom: ($margin * 2) !important;
  }
}

/*********************************
SVG BACKGROUND IMAGE WITH FALLBACK
*********************************/
$image-path: "../img" !default;
$fallback-extension: "png" !default;
$retina-suffix: "@2x";

@mixin background-image($name, $size: false) {
  background-image: url("#{$image-path}/#{$name}.svg");

  @if $size {
    background-size: $size;
  }

  .no-svg & {
    background-image: url("#{$image-path}/#{$name}.#{$fallback-extension}");

    @media only screen and (-moz-min-device-pixel-ratio: 1.5),
      only screen and (-o-min-device-pixel-ratio: 3 / 2),
      only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url("#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension}");
    }
  }
}

/* USAGE
.lb_div {
    @include background-image('bg');
}
** must have bg.svg, bg.png & bg@2x.png
*/

@function row-item-width($columns, $gutter) {
  @return calc(#{100% / $columns} - #{($gutter * ($columns - 1)) / $columns});
}

@mixin row-item-grid($columns, $gutter-col, $gutter-row: null) {
  width: row-item-width($columns, $gutter-col);
  margin-right: 0 !important;

  // add a right margin to create the gutter
  @for $i from 1 through $columns - 1 {
    &:nth-child(#{$columns}n + #{$i}) {
      margin-right: $gutter-col !important;
    }
  }

  // Check if the gutter row gap arguement has been passed
  @if ($gutter-row) {
    &:nth-child(n) {
      margin-bottom: $gutter-row !important;
    }
  } @else {
    // if not then jusdt default to the gutter column gap
    $gutter-row: $gutter-col;
    &:nth-child(n) {
      margin-bottom: $gutter-row !important;
    }
  }

  // remove the bottom margin from the bottom row
  @for $j from 1 through $columns {
    &:nth-last-child(#{$j}) {
      margin-bottom: 0 !important;
    }
  }

  // remove right margin from elements that don't need it
  &:nth-child(#{$columns}n + #{$columns}) {
    margin-right: 0 !important;
  }
}
