/******************************************************************

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900|PT+Mono');

// font stacks
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Georgia', Cambria, Times New Roman, Times, serif;

$primary: 'Montserrat', $sans-serif;
$secondary: 'Montserrat', $sans-serif;

// theme fonts
$body-font: 400 1rem / 1.5em $secondary;
$h1: 700 4rem / 1.5em $secondary;
$h2: 700 2.5rem / 1.5em $secondary;
$h3: 400 2rem / 1.5em $secondary;
$h4: 400 1.3333rem / 1.5em $secondary;
$h5: 400 1.25rem / 1.5em $secondary;
$h6: 700 0.889rem / 1.5em $secondary;
$menu: 400 1rem / 1.5em $secondary;

// Setting universal font styles
h1,
.h1 {
    font: $h1;
}

h2,
.h2 {
    font: $h2;
}

h3,
.h3 {
    font: $h3;
}

h4,
.h4 {
    font: $h4;

    &.bold {
        font-weight: 900 !important;
    }
}

h5,
.h5 {
    font: $h5;

    &.bold {
        font-weight: 970 !important;
    }
}

h6,
.h6 {
    font: $h6;
}

p {
    font: $body-font;
}

::selection {
    background: $color2;
    color: $white;
}