/******************************************************************

Stylesheet: Variables

******************************************************************/

/* Colours */
$color1: #F05560; // red
$color2: #1B4B5F; // blue
$color3: #53C1B7; // light teal
$color4: #F1853B; // orange
$color5: #F8D449; // yellow
$end: #D0EDF3; // end of the gradient
$color-hover: #009FB7;
$color-active: #009FB7;

$color-p: #272727;
$text-gray: #A4A3A6;
$white: #FFFFFF;
$gray: #FAFAFA;
$black: #000000;

/* Spacing / Padding */

$col: 100% / 12;
$col-vw: 100vw / 12;

$h-space: 1.5rem;
$p-space: 1rem;
$space: 0.556rem;

//transitions
$transition: 0.25s ease-in-out;
$transition-slow: 0.5s ease-in-out;

// border thickness
$border-width: 1px;

$menu-item-num: 15;

// common device break points
$desktop-break: 1920px;
$laptop-break: 1440px;
$laptop-break-sml: 1280px;
$tablet-break: 1024px;
$tablet-break-sml: 768px;
$mobile-break: 600px;
$mobile-break-sml: 340px;