/******************************************************************

Site Name: OneLife LA

Stylesheet: ALM Highlights

******************************************************************/

.intro {
    @include liner-gradient(180deg, $color3, $end);

    .ct-section-inner-wrap {
        padding-bottom: 10vw;
        padding-left: $col-vw * 1.5;
        padding-right: $col-vw * 1.5;

        @include breakpoint($tablet-break) {
            padding-bottom: $col-vw * 2;
        }


        @include breakpoint($mobile-break) {
            padding-bottom: 20.67vw;
        }


        &::before {
            content: "";
            width: 100%;
            height: 10.16667vw;
            position: absolute;
            background: #FFFFFF;
            top: 0;
            left: 0;
            z-index: 1;

            @include breakpoint($tablet-break) {
                height: 15.1667vw;
            }


            @include breakpoint($mobile-break) {
                height: 23.1667vw;
            }
        }

        h2 {
            color: $white;
            padding-top: $col-vw;

            @include breakpoint($laptop-break) {
                padding-top: $col-vw * 0.75;
            }


            @include breakpoint($tablet-break) {
                padding-top: 10.25vw;
            }
        }

        h3 {
            color: $color1;
            font-weight: 700;
            padding-bottom: 1rem;
            width: 100%;
            border-bottom: 2px solid $white;
        }

        .ct-div-block,
        .ct-code-block {
            margin-top: 2rem;
        }

        #image-21-873 {
            position: absolute;
            top: calc(10.16667vw - 1px);
            left: 0;
            width: 100%;
            z-index: 1;

            @include breakpoint($tablet-break) {
                top: calc(15.1667vw - 1px);
            }


            @include breakpoint($mobile-break) {
                top: calc(23.1667vw - 1px);
            }
        }

        #image-22-873 {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            z-index: 3;
        }
    }

    .button-highlight {
        margin-top: 2rem;
        align-self: flex-end;
    }
}

.alm-reveal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.highlights-wrapper {
    display: flex;
    justify-content: space-between;

    .alm-photo-link {
        flex-basis: 24%;
        margin: 0.5% auto;
        height: 12vw;

        @include breakpoint($tablet-break) {
            flex-basis: 32%;
            height: 14vw;

            &:last-child {
                display: none;
            }
        }


        @include breakpoint($mobile-break) {
            flex-basis: 99%;
            height: 40vw;

            &:nth-child(n+2) {
                display: none;
            }
        }


        &:hover {
            > img {
                transform: scale(1.075);
            }
        }

        .alm-photo {
            width: 100%;
            height: inherit;
            object-fit: cover;
            transition: $transition;
        }
    }
}

.alm-video-block-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .alm-video-wrapper {
        width: 23%;
        margin: 0.5% 1%;
        height: 12vw;
        display: flex;
        flex-direction: column;

        @include breakpoint($tablet-break) {
            width: 48%;
            height: 23vw;
        }


        @include breakpoint($mobile-break) {
            width: 99%;
            height: 40vw;
        }


        .alm-video-link {
            // width: 24%;
            // margin: 0.5% 1%;
            height: inherit;

            &:hover {
                > img {
                    transform: scale(1.075);
                }
            }

            .alm-video {
                width: auto;
                height: inherit;
                object-fit: cover;
                transition: $transition;

                @include breakpoint($tablet-break) {
                    width: 100%;
                }


                &::after {
                    content: '';
                }
            }

            .play-button-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: inherit;
                position: relative;
                transform: translate(0%, -100%);

                .play-button {
                    display: block;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    transition: 0.14s ease-in-out;
                }
            }
        }

        .alm-video-title {
            margin-top: 1rem;
            color: $color1;
            font: $h4;
        }
    }
}

.newsletter-form.red {
    margin: 0 auto;
    width: $col-vw * 6;
    padding: $col-vw / 2;
    position: relative;
    transition: $transition;
    background: $color1;
    z-index: 11;
    margin-bottom: $col-vw / 4;

    @include margin-top($col-vw / 2);
    @include box-shadow;

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    }

    @include breakpoint($tablet-break) {
        width: 100%;
        padding: ($col-vw / 2) $col-vw;
    }


    @include breakpoint($mobile-break) {
        padding: $col-vw;
        left: 0;
        margin-bottom: $col-vw / 2;
    }


    .gform_widget {
        .gform_confirmation_wrapper {
            .gform_confirmation_message {
                color: $white;
            }
        }
    }

    .gform_wrapper {
        .gform_title,
        .gform_description {
            color: $white;
            text-align: left;
        }

        .gform_body {
            .gform_fields {
                .gfield {
                    input,
                    select {
                        border-color: $white;
                    }
                }
            }
        }

        .gform_footer {
            text-align: left;

            .submit-button {
                border-color: $white !important;
                background: transparent !important;

                span {
                    color: $color4 !important;
                }

                &::before {
                    background: $white !important;
                }

                &:hover {
                    border-color: $white !important;

                    span {
                        color: $white !important;
                    }
                }
            }
        }
    }
}

