/******************************************************************

Site Name: OneLife LA

Stylesheet: Buttons

******************************************************************/
@mixin button {
    border: 2px solid $color1 !important;
    border-radius: 4px !important;
    font: $h6 !important;
    padding: 0 1.3rem !important;
    width: auto !important;
    line-height: 50px !important;
    height: 50px !important;
    position: relative !important;
    color: $white !important;
    text-transform: uppercase !important;
    overflow: hidden !important;
    transition: $transition;
    cursor: pointer;
    letter-spacing: 2px !important;
    display: inline-block;
    width: auto;
    align-items: center;
    transform: translate3d(0, 0, 0);
    background: $color1;

    @include breakpoint($mobile-break) {
        line-height: 38px !important;
        height: 40px !important;
    }


    span {
        transform: translate3d(0, 0, 0);
    }

    &::before {
        content: '';
        display: block;
        width: 105%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $color1 !important;
        z-index: -1;
        transform: translateX(-2%);
        transition: $transition;
        -webkit-backface-visibility: hidden;
    }

    &:hover {
        color: $color2 !important;
        background: transparent;

        &::before {
            transform: translateX(-105%);
        }
    }
}

// button with icons
@mixin btn {
    font: $h6;
    color: $color2;
    letter-spacing: 2px !important;
    background: transparent;
    transition: $transition !important;
    text-transform: uppercase;

    &:hover {
        color: $color1;
    }
}

@mixin button-highlight {
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    color: $color1 !important;
    transition: $transition;
    background: none !important;
    border: 0 !important;
    font: $h6 !important;
    position: relative;
    padding: 0.7rem 0;
    font-weight: 700 !important;

    &::before {
        content: '';
        height: 1px;
        width: 60%;
        position: absolute;
        left: 0;
        top: 0px;
        background: $color3;
        transition: $transition;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.button,
.gform_previous_button,
.gform_next_button,
input[type=submit] {
    @include button;
}

.button-highlight {
    @include button-highlight;
}

.gform_previous_button,
.gform_next_button,
input[type=submit] {
    background: $color1 !important;
    transition: $transition !important;

    &:hover {
        background: $white !important;
    }
}

.btn {
    @include btn;
}