/******************************************************************

Site Name: OneLife LA

Stylesheet: Global Footer

******************************************************************/

.footer {
    z-index: 20;

    @include padding-top($col-vw / 2);
    @include padding-bottom($col-vw / 2);
    @include side-gutters;

    @include breakpoint($tablet-break) {
        padding: $col-vw $col-vw ($col-vw / 2) !important;
    }


    .ct-section-inner-wrap {
        border-top: 2px solid $color3;

        @include breakpoint(1120px) {
            flex-direction: row-reverse;
            align-items: center;
        }


        @include breakpoint($mobile-break + 70px) {
            flex-direction: column;
            justify-content: center;
        }
    } // top columns
    #new_columns-3-13 {
        padding-top: $space * 4;
        padding-bottom: $space * 4;

        @include breakpoint(1120px) {
            display: inline-block;
            width: auto;
        }


        #div_block-4-13 {
            width: calc(100% - 170px) !important;
            display: flex;
            justify-content: center;

            @include breakpoint(1120px) {
                display: none;
            }


            #menu-footer,
            #menu-footer-es {
                li {
                    border: 0 !important;

                    &:first-child {
                        a {
                            padding-left: 0 !important;
                        }
                    }

                    &:last-child {
                        a {
                            padding-right: 0 !important;
                        }
                    }

                    &.current-menu-item {
                        a {
                            color: $color1;
                        }
                    }

                    a {
                        padding: 0 1.5rem !important;
                        background: transparent !important;
                        border: 0 !important;
                        font: $h5;
                        color: $color2;
                        transition: $transition;
                        font-weight: 700 !important;

                        &:hover {
                            color: $color1;
                        }
                    }
                }
            }
        }

        #div_block-5-13 {
            width: 170px !important;
            align-items: flex-end;

            @include breakpoint($mobile-break) {
                align-items: center;
            }
        }
    } // bottom columns
    #new_columns-9-13 {
        justify-content: flex-start;

        @include breakpoint(359px) {
            align-items: center;
            justify-content: center;
        }


        #div_block-10-13 {
            width: auto !important;
            display: inline-block;

            @include breakpoint(359px) {
                flex-basis: 100%;
                align-items: center;
                margin-bottom: $col-vw;
                text-align: center;
            }


            p {
                color: $color2;

                a {
                    color: $color2;
                    transition: $transition;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }

            a {
                color: $color2;
                transition: $transition;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        #div_block-11-13 {
            padding-left: $col-vw / 2;

            @include breakpoint(1120px) {
                padding-left: $col-vw / 4;
                width: auto !important;
            }


            @include breakpoint($mobile-break + 70px) {
                justify-content: flex-end;
            }


            @include breakpoint(359px) {
                flex-basis: 100%;
                justify-content: center;
            }


            a {
                &:hover {
                    svg {
                        color: $color2;
                    }
                }

                svg {
                    height: 1.25rem;
                    width: 2.5rem;
                    color: $color3;
                    transition: $transition;
                }
            }
        }
    }
    .lb-logo {
        width: 100%;
        position: relative;
        bottom: -$col-vw / 4;
        a {
            width: 30px;
            display: block;
            height: 30px;
            margin: 0 auto;
            text-align: center;
        }

        img {
            text-align: center;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            display: inline-block;
            opacity: 0.04;
            transition: $transition;
        }

        img:hover {
            opacity: 0.2;
        }
    }
}
