/******************************************************************

Site Name: OneLife LA

Stylesheet: Gravity Form Styles

For universal gravity forms style overrides. For individual page form overrides please use the specific page SCSS file.

This is not an exhaustive list. 
For other GF CSS classes, go here: https://www.gravityhelp.com/documentation/article/css-targeting-samples/

******************************************************************/

/*********************
GRAVITY FORM UNIVERSAL STYLES
*********************/
body {
    .gform_wrapper {
        margin: 0;

        .gform_heading {
            .gform_title,
            .gform_description {
                margin: 0;
            }

            .gform_title {
                font: $h2;
                color: $color1;
                padding-bottom: $space * 6;
            }

            .gform_description {
                font: $h4;
                color: $color3;
                padding-bottom: $space * 3;
            }
        }

        .gform_body {
            .gform_fields {
                .gfield {
                    input[type='text'],
                    select,
                    textarea,
                    select {
                        padding: 1rem 1.2rem !important;
                        border-radius: 4px;
                        color: $color2 !important;
                        border: 2px solid $color3;
                        transition: $transition;
                        font: $body-font !important;
                        font-weight: 600 !important;
                        background: $white;
                        -webkit-appearance: none;

                        @include breakpoint(min-width ($mobile-break + 1px)) {
                            height: 65px !important;
                            line-height: 65px !important;

                            &#input_22_4,
                            &#input_3_4 {
                                height: 180px !important;
                            }
                        }


                        &::placeholder {
                            color: $color2 !important;
                        }

                        &:focus {
                            outline: 0 !important;
                            background: $gray;
                        }
                    }

                    select {
                        padding: 0 0 0 2rem !important;
                    }

                    &.populate-groups-en .ginput_container_select,
                    &.populate-groups-es .ginput_container_select {
                        padding-left: 0 !important;
                    }

                    @include breakpoint(min-width ($mobile-break + 1px)) {
                        &.gf-no-left-pad {
                            .ginput_container_select {
                                padding-left: 0 !important;
                            }
                        }
                    }


                    @include breakpoint(min-width ($mobile-break + 1px)) {
                        .ginput_container_select {
                            background-color: $white;
                            border-radius: 4px;
                            padding-left: 2rem !important;

                            @include breakpoint($mobile-break + 1px) {
                                line-height: 65px;
                                height: 65px;

                                .gfield_select {
                                    width: 95% !important;
                                    line-height: 60px !important;
                                    height: 60px !important;
                                }
                            }
                        }
                    }


                    .gfield_label {
                        display: none;
                    }

                    &.show-label {
                        .gfield_label {
                            display: block !important;
                        }
                    }

                    .ginput_container {
                        label {
                            display: none;
                        }
                    }

                    .ginput_container_address {
                        span {
                            input {
                                margin-top: 24px;
                            }

                            &:first-child {
                                input {
                                    margin-top: 0;
                                }
                            }
                        }
                    }

                    .gfield_checkbox {
                        input {
                            display: none;

                            &:checked {
                                + label {
                                    font-weight: 600 !important;

                                    &::after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        label {
                            display: block;
                            position: relative;
                            padding-left: 2rem;
                            margin-right: 0;
                            font: $body-font;
                            font-weight: 600 !important;

                            &::before {
                                width: 1rem;
                                height: 1rem;
                                content: '';
                                position: absolute;
                                border: 1px solid $color3;
                                background: transparent;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                            }

                            &::after {
                                width: 1rem;
                                height: 1rem;
                                content: '';
                                position: absolute;
                                background: $color3;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                opacity: 0;
                                transition: $transition;
                            }
                        }
                    }
                }

                #field_23_9,
                #field_23_11,
                #field_23_12,
                #field_23_13,
                #field_23_14,
                #field_23_15,
                #field_24_9,
                #field_24_11,
                #field_24_12,
                #field_24_13,
                #field_24_14,
                #field_24_15 {
                    > label {
                        display: block;
                        color: $color1;
                    }
                }

                #field_23_5,
                #field_23_9,
                #field_24_5,
                #field_24_9 {
                    padding-top: 2rem;
                }
            }
        }

        .gform_footer {
            margin: 0;
            padding: 0;
            padding-top: $space * 6;

            .button {
                &::before {
                    z-index: 1 !important;
                }

                span {
                    color: $white;
                    position: relative;
                    z-index: 3;
                    transition: $transition;
                }

                &:hover {
                    span {
                        color: $color2 !important;
                    }
                }
            }
        }

        &#gform_wrapper_23,
        &#gform_wrapper_24 {
            .gform_description {
                color: $color2;
            }
        }
    }
}

/*********************
ACTIVE STATES
*********************/

// spacing out the password
input {
    &[type='password'] {
        letter-spacing: 0.3em;
    }
}