/******************************************************************

Site Name: OneLife LA

Stylesheet: Global Header

******************************************************************/

/*********************
Header
*********************/
.header {
  @include side-gutters;

  padding-top: $space * 4;
  position: absolute;
  z-index: 999;
  overflow: visible !important;

  @include breakpoint($laptop-break) {
    padding-left: $col-vw / 2;
    padding-right: $col-vw / 2;
  }

  @include breakpoint(1120px) {
    @include padding-top($col-vw / 2);
  }

  #new_columns-3-14 {
    @include breakpoint(1120px) {
      display: none;
    }

    // left column
    #div_block-4-14 {
      justify-content: center;
      width: ($col-vw * 1.25) !important;

      a {
        img {
          width: $col-vw * 1.25;
        }
      }
    }

    // right column
    #div_block-5-14 {
      width: calc(100% - #{$col-vw * 1.25});

      // top row
      #div_block-7-14 {
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: $space * 4;

        .social {
          &.active {
            transform: translateX(-360px);
          }

          a {
            &:hover {
              svg {
                color: $color1;
              }
            }

            svg {
              height: 1.25rem;
              width: 2.5rem;
              color: $color3;
              transition: $transition;
            }
          }

          .translator {
            .wpml-ls-legacy-list-horizontal {
              padding: 0 35px !important;

              ul {
                line-height: 0 !important;

                a {
                  padding: 0 !important;

                  &:hover {
                    > span {
                      color: $color1;
                    }
                  }

                  > span {
                    color: $color2;
                    font: $menu;
                    line-height: 19px !important;
                    text-transform: uppercase;
                    transition: $transition;
                    font-weight: 700 !important;
                  }
                }
              }
            }
          }
        }

        .search {
          position: relative;

          svg {
            height: 1.25rem;
            width: 2.5rem;
            color: $color2;
            transition: $transition;
            cursor: pointer;

            &:hover {
              color: $color1;
            }
          }

          form {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: $col-vw / 4;
            width: 365px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: $transition;
            z-index: 999;

            [type="text"] {
              border: 2px solid $color3;
              border-radius: 4px;
              font: $body-font;
              color: $color2;

              &:focus {
                outline: 0;
              }
            }

            #searchsubmit {
              @include button;

              background: $color1 !important;

              &:hover {
                background: $white !important;
              }

              &:focus {
                outline: 0;
              }
            }
          }

          &.active {
            form {
              opacity: 1;
              visibility: visible;
              pointer-events: initial;
            }
          }
        }
      }

      // bottom row
      #div_block-8-14 {
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;

        #menu-main-menu-1,
        #menu-main-1 {
          padding: 0;
          align-items: center;

          .sub-menu {
            width: inherit;

            > li,
            > li:last-child,
            > li:first-child {
              display: block;
              line-height: 1rem;
              padding: 1rem !important;
              padding-left: 1rem !important;
              width: inherit;
            }
          }

          > li {
            padding: 0 1rem !important;
            border: 0 !important;

            @include breakpoint(1640px) {
              padding: 0 0.5rem !important;
            }

            &:first-child {
              padding-left: 0 !important;
            }

            &:last-child {
              padding-right: 0 !important;
              padding-left: 2rem !important;

              @include breakpoint(1640px) {
                padding-left: 1rem !important;
              }

              a {
                @include button;

                @include breakpoint(1640px) {
                  padding: 0 1rem !important;
                }
              }
            }

            &.current-menu-item,
            &.current-page-ancestor {
              a {
                color: $color2;

                &::before {
                  transform: translateX(0);
                }
              }
            }

            a {
              padding: 0 !important;
              background: transparent !important;
              border: 0 !important;
              font: $menu;
              font-weight: 700 !important;
              color: $color2;
              transition: $transition;
              position: relative;
              overflow: hidden;
              text-transform: uppercase;
              display: inline-block;
              width: auto;

              @include breakpoint(1640px) {
                font-size: 0.9rem !important;
              }

              &::before {
                content: "";
                width: 100%;
                height: 2px;
                background: $color1;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateX(-101%);
                transition: $transition;
              }

              &:hover {
                color: $color2;

                &::before {
                  transform: translateX(0);
                }
              }
            }
          }
        }
      }
    }
  }
}

/*********************
Tablet/Mobile Navigation
*********************/
#new_columns-37-14 {
  display: none;
  flex-wrap: nowrap;
  align-items: center;

  @include breakpoint(1120px) {
    display: flex;
  }

  .mobile-button-wrapper {
    .mobile-button {
      font: $h5;
      font-weight: 700 !important;
      color: $color2;
      position: relative;
      padding-right: 3rem;
      display: inline-block;

      .bars {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 23px;
        height: 20px;

        div {
          background: $color2;
          width: 100%;
          height: 2px;
          margin-bottom: 6px;
          transform-origin: left center;
          transition: $transition;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &.active {
        color: $color1;

        .bars {
          div {
            background: $color1;

            &:nth-child(1) {
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
              transform: scaleX(0);
            }

            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  // logo
  #div_block-39-14 {
    @include breakpoint($mobile-break) {
      align-items: flex-end;
    }

    img {
      height: $col-vw;
    }
  }

  // register link
  #div_block-40-14 {
    align-items: flex-end;

    @include breakpoint($mobile-break) {
      display: none;
    }
  }
}

#code_block-44-14 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  z-index: 99;
  transition: $transition;
  align-items: center;
  justify-content: center;

  @include padding-bottom($col-vw);
  @include padding-top($col-vw);
  @include side-gutters;

  @include breakpoint(1120px) {
    display: flex;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;

      ul {
        li {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  @media screen and (max-width: 1120px) and (max-height: 600px) and (orientation: landscape) {
    padding-bottom: ($col-vw / 2) !important;
    align-items: flex-end;
  }

  @media screen and (max-width: 1120px) and (min-height: 601px) and (orientation: landscape) {
    padding-bottom: $col-vw !important;
    align-items: flex-end;
  }

  @media screen and (max-width: 1120px) and (min-height: 701px) and (orientation: landscape) {
    padding-bottom: ($col-vw * 1.25) !important;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.sub-menu {
      @include breakpoint($mobile-break) {
        margin-top: 0.7rem;
      }
    }

    li {
      opacity: 0;
      transform: translateY(1rem);
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      transition: $transition;

      @include breakpoint(1120px) {
        @for $i from 1 through $menu-item-num {
          &:nth-child(#{$i}) {
            transition-delay: calc(#{$i / 20}s + 0.1s) !important;
          }
        }
      }

      .sub-menu {
        margin-top: 1rem;
      }

      &.current-menu-item {
        a {
          color: $color2;

          &::before {
            transform: translateX(0);
          }
        }
      }

      a {
        font: $menu;
        font-weight: 700 !important;
        display: inline-block;
        width: auto;
        position: relative;
        overflow: hidden;
        color: $color2;
        padding: 0;
        text-transform: uppercase;

        &::before {
          content: "";
          width: 100%;
          height: 2px;
          background: $color1;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateX(-101%);
          transition: $transition;
        }

        &:hover {
          color: $color2;

          &::before {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.oxy-nav-menu-dropdowns.oxy-nav-menu-dropdown-arrow
  .menu-item-has-children
  > a::after {
  display: none !important;
}
