/******************************************************************

Site Name: OneLife LA

Stylesheet: Highlights

******************************************************************/
.ct-code-block {
    width: 100%;

    .highlights {
        position: relative;
        z-index: 4;

        h2 {
            width: 100%;
            text-align: left;
            padding-bottom: $space * 8;
            padding-right: $col-vw * 2;

            @include breakpoint($laptop-break) {
                padding-right: $col-vw;
            }


            @include breakpoint($tablet-break) {
                padding-bottom: $space * 4.5;
            }


            @include breakpoint($mobile-break) {
                padding-right: 0;
                padding-bottom: $space * 3;
            }
        }
    }

    .highlights-wrapper {
        position: relative;

        .highlight {
            width: $col-vw * 3.25;
            margin-right: $col-vw / 2;
            overflow: hidden;
            position: relative;

            @include breakpoint($mobile-break) {
                width: 100%;
                margin: 0;

                &:first-child {
                    margin-bottom: $col-vw;
                }

                &:nth-child(n+3) {
                    display: none;

                    @include breakpoint($mobile-break) {
                        display: block;
                    }
                }
            }


            &:hover {
                > img {
                    transform: scale(1.075);
                }
            }

            > img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                transition: $transition;
            }

            a {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-items: center;

                img {
                    width: $col-vw * 0.75;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        @include slick-nav;

        .slick-arrow {
            top: calc(#{-$space * 8} - 3rem);
            right: $col-vw;

            @include breakpoint($tablet-break) {
                // top: calc(#{-$space * 4.5} - 2.25rem);
                top: initial;
                bottom: calc(#{-$space * 4.5} - 2.25rem);
            }


            @include breakpoint($mobile-break) {
                top: 40% !important;
                z-index: 99999;
                fill: $white !important;

                &.prev {
                    left: 0.5rem !important;
                }

                &.next {
                    right: 0.5rem !important;
                }
            }


            path {
                fill: $color2;

                @include breakpoint($mobile-break) {
                    fill: $white !important;
                }
            }
        }
    }
}

.newsletter-form.red {
    margin-top: -2.1667vw !important;
}