/******************************************************************

Site Name: OneLife LA

Stylesheet: Partners

******************************************************************/
.partners-outer-wrapper {
  padding-right: 0 !important;
}

.partners {
  position: relative;

  > h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  ul {
    padding: 0;
    margin: 1rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;

    @include breakpoint($tablet-break) {
      flex-wrap: wrap;
    }

    &.not-enough {
      li {
        width: $col-vw * 3;
        margin: $col-vw / 8;
        transform: scale(1);
        background: transparentize($color3, 0.9);

        &.slick-center {
          background: transparentize($color3, 0.9);
          transform: scale(1);
        }
      }
    }

    .slick-list {
      // @include breakpoint($tablet-break) {
      //   padding-bottom: 4rem !important;
      // }
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2rem;
      cursor: pointer;
      z-index: 100;

      @include breakpoint($tablet-break) {
        width: 1.75rem;
      }

      @include breakpoint($mobile-break) {
        width: 1.25rem;
      }

      &:hover {
        path {
          fill: $color1;
        }
      }

      path {
        fill: $color3;
        transition: $transition;
      }

      &.prev {
        left: -$col-vw / 2;

        @include breakpoint($tablet-break) {
          transform: none;
          top: initial;
          left: initial;
          bottom: 0;
          right: $col-vw/2 + $col-vw / 8;
        }
      }

      &.next {
        right: -$col-vw / 2;

        @include breakpoint($tablet-break) {
          transform: none;
          top: initial;
          bottom: 0;
          right: calc(#{$col-vw / 2 + $col-vw / 8} - 3rem);
        }
      }
    }

    li {
      list-style: none;
      padding: $col-vw / 4;
      border-radius: 4px;
      background: transparentize($color3, 0.9);
      transition: $transition;
      transform: scale(0.8);
      flex-basis: 32%;
      margin: 0;

      @include breakpoint($tablet-break) {
        padding: $col-vw/2;
        flex-basis: 100%;
      }

      @include breakpoint($mobile-break) {
        padding: $col-vw;
      }

      &.slick-center {
        background: $white;
        transform: scale(1);
      }

      @include box-shadow;

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
      }

      .img {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;

        img {
          width: auto;
          height: 6vw;
          object-fit: cover;

          @include breakpoint($tablet-break) {
            width: 100%;
            height: auto;
          }
        }
      }

      .info {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          margin-bottom: 1rem;
          line-height: 1.3em !important;
          text-align: center;
          font: $h3;
          font-weight: 700 !important;
          color: $color1;
          width: 100%;
        }

        p {
          margin-bottom: 2rem;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

// POPUP STYLING
/* Outer */
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  background: rgba($color3, 0.88);
}

/* Inner */
.popup-inner {
  max-width: 1200px;
  width: 90%;
  display: flex;
  align-items: center;

  // height: 55%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: $white;

  @include breakpoint(1024px) {
    width: 50%;
    height: auto;
    flex-wrap: wrap;
  }

  @include breakpoint(480px) {
    width: 70%;
  }

  .img_wrapper {
    width: 60%;
    height: $col-vw * 3;
    float: left;

    @include breakpoint(1600px) {
      height: $col-vw * 4;
    }

    @include breakpoint(1024px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .popup_text {
    width: 33%;
    display: block;
    float: right;
    margin: 3vw 60px;

    @include breakpoint(1500px) {
      margin: 3vw;
    }

    @include breakpoint(1024px) {
      width: 100%;
      padding: 20px 40px;
      float: left;
      margin: 0 !important;
    }

    @include breakpoint(480px) {
      padding: 10px 20px;
    }

    h2 {
      margin-bottom: 1rem;
      color: $color2;
    }

    .popup_text-inner {
      max-height: $col-vw * 2;
      overflow: auto;
      margin-bottom: 2rem;

      @include breakpoint($tablet-break) {
        max-height: $col-vw * 3;
      }

      @include breakpoint($mobile-break) {
        max-height: $col-vw * 4;
      }
    }

    a {
      margin-top: 2rem !important;
    }
  }
}

/* Close Button */
.popup-close {
  width: 30px;
  height: 30px;
  padding-top: 3px;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  transition: $transition;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  background: rgba($color1, 0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: $white;
}

.popup-close:hover {
  background: rgba(233, 190, 70, 1);
  color: $white;
  text-decoration: none;
}
