/******************************************************************

Site Name: OneLife LA

Stylesheet: Rows

******************************************************************/
.ct-section {
    overflow: hidden;

    .ct-section-inner-wrap {
        max-width: 100% !important;
    }

    &.intro {
        text-align: left;
        .ct-section-inner-wrap {
            padding-top: calc(113px + #{$space * 4});

            @include breakpoint($tablet-break) {
                padding-top: calc(113px + #{$space * 2});
            }


            @include breakpoint($mobile-break) {
                padding-top: calc(113px + #{$space * 1.5});
            }
        }
    }
}