/******************************************************************

Site Name: OneLife LA

Stylesheet: Typography

******************************************************************/

// This is the base font size that all typographic elements should be scaled to.
html {
    font-size: 16px;

    @include breakpoint($laptop-break) {
        font-size: 14px;
    }


    @include breakpoint($tablet-break) {
        font-size: 14px;
    }


    @include breakpoint($mobile-break) {
        font-size: 12px;
    }
}

body {
    font-family: $body-font;
    font-size: 100%;
    color: $color2;
    color-adjust: economy;
    -webkit-print-color-adjust: economy;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    text-rendering: optimizelegibility;

    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h1 {
    color: $color1;

    @include breakpoint($laptop-break) {
        font-size: 4rem !important;
    }


    @include breakpoint($mobile-break) {
        font-size: 3rem !important;
    }
}

h2 {
    color: $color1;

    @include breakpoint($laptop-break) {
        font-size: 2.5rem !important;
    }


    @include breakpoint($mobile-break) {
        font-size: 2rem !important;
    }
}

h3 {
    color: $color2;

    @include breakpoint($laptop-break) {
        font-size: 2rem !important;
    }


    @include breakpoint($mobile-break) {
        font-size: 1.75rem !important;
    }
}

h4 {
    color: $color2;

    @include breakpoint($laptop-break) {
        font-size: 1.5rem !important;
    }


    &.red {
        color: $color1;
    }
}

h5 {
    color: $color2;

    @include breakpoint($laptop-break) {
        font-size: 1.25rem !important;
    }
}

p {
    color: $color2;
    margin: 0;

    a {
        color: $color1;
        transition: $transition;
    }
}